<div class="contents">
    <p class="read">
        ご入力頂いたメールアドレス宛にワンタイムパスワードを送っております。<br> ご入力頂き「会員登録」をするボタンを押してください。
    </p>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <dl>
            <dt>パスワード</dt>
            <dd>
                <input type="password" [formControl]="formGroup.controls['password']" placeholder="">
                <div *ngIf="submitFlag && password.hasError('required')" class="validation">パスワードが未入力です</div>
                <div *ngIf="submitFlag && (password.hasError('minlength') || password.hasError('maxlength'))" class="validation">パスワードは8桁です</div>
                <a routerLink="/regist/password">パスワードを忘れた方はこちら</a>
            </dd>
        </dl>
        <button class="blue-button button" type="submit">会員登録をする</button>
    </form>
</div>