<div class="contents bg-01">
    <div class="inner">
        <p class="read mb-middle small-text">
            会員情報の変更ができます
        </p>
        <div class="mb-middle">
            <button type="button" class="button button-primary button-block center" routerLink="/member/edit/profile">基本情報変更</button>
        </div>
        <div class="mb-middle">
            <button type="button" class="button button-primary button-block center" routerLink="/member/edit/credit">クレジットカード変更</button>
        </div>
    </div>
</div>