<div class="contents bg-01">
    <div class="inner">
        <p class="read mb-middle small-text">
            会員情報の変更ができます
        </p>
        <div class="profile mb-middle">
            <dl class="mb-small">
                <dt class="mb-x-small">名前</dt>
                <dd class="mb-x-small">{{ user.getName() }}</dd>
                <dt class="mb-x-small">メールアドレス</dt>
                <dd class="mb-x-small">{{ user.data.contact?.email }}</dd>
                <dt class="mb-x-small">電話番号</dt>
                <dd class="mb-x-small">{{ user.gettelephone() }}</dd>
            </dl>
            <button type="button" class="button button-primary button-block center" routerLink="/member/edit/profile">基本情報変更</button>
        </div>
        <div class="credit">
            <dl class="mb-small">
                <dt class="mb-x-small">カード番号</dt>
                <dd class="mb-x-small">{{ user.getCreditCard(0)?.cardNo }}</dd>
                <dt class="mb-x-small">有効期限</dt>
                <dd class="mb-x-small">{{ user.getCreditCard(0)?.expire }}</dd>
            </dl>
            <button type="button" class="button button-primary button-block center" routerLink="/member/edit/credit">クレジットカード変更</button>
        </div>
    </div>
</div>