<div class="py-4 px-3">
    <h2 class="text-center mb-3 text-large font-weight-bold">利用規約</h2>
    <p class="mb-3">
        シネマサンシャインの会員（年会費500円）になるとお得な特典が受けられます。以下の利用規約に同意した上で「次へ」ボタンを押してください。
    </p>
    <div class="scroll-vertical mb-3">
        <div class="p-3 bg-white">
            <h3 class="mb-2">利用規約について</h3>
            <p>
                本規約は、佐々木興業株式会社（以下「当社」）が独自に規定するものであり、当社の運営する「シネマサンシャイン」が提供するサービスに提供されるものとします。
                <br />
                当社が提供するシネマサンシャインをご利用になる場合には、本規約に従っていただく必要があります。ご利用の皆様はシネマサンシャインの利用をもって、本規約の内容を承諾いただけたものとみなします。
                <br />
                本規約は必要に応じて適宜見直しを行ないますので、ご利用の際には本ページに掲載されている最新の利用規約をご確認下さい。
                <br />
                <span class="text-danger"
                    >1.個人登録情報の取り扱いについて</span
                >
                <br />
                個人情報に関してはシネマサンシャインにて最大限の注意を払い管理いたします。個人情報の取り扱いについては、プライバシーポリシーにまとめてありますので、そちらもご覧下さい。
                <br />
                またシネマサンシャインの営業譲渡が行なわれる際は、譲渡を受けた獲得者に移管いたします。なお、退会申請には速やかに応じ、個人情報を削除いたします。
                <br />
                <span class="text-danger"
                    >2.ID及びパスワードの管理について</span
                >
                <br />
                ID及びパスワードの管理は、登録ユーザーの責任において行なっていただきます。ID及びパスワードを利用して行なわれた行為は、そのIDを保有している登録ユーザーの責任とみなします。
                <br />
                第三者への漏洩の疑いがある場合は、直ちにシネマサンシャインまでご連絡下さい。シネマサンシャインはID及びパスワードの不正使用などから生じた損害について一切責任を負いません。
                <br />
                <span class="text-danger">3.登録事項の変更について</span>
                <br />
                ユーザー登録の必須項目に変更があった際には、速やかに情報の変更をお願いいたします。
                <br />
                <span class="text-danger">4.禁止事項</span>
                <br />
                他の利用者や第三者を誹謗中傷する行為や、不当に足を引っ張ろうとする行為。
                <br />
                公正な場を不当に歪めようとする行為。 <br />
                運営者が、不適切と判断した行為。
                <br />
                <span class="text-danger"
                    >5.登録ユーザーの資格保留又は削除について</span
                >
                <br />
                シネマサンシャインは、上記禁止事項に違反した登録ユーザーに対し、資格を保留・削除する権利を保有します。また、コンテンツを削除する権利も保有します。その判断に関しては、運営者の裁量にて行使されます。これにより損害が発生した場合でもシネマサンシャインは責任を負いません。
                <br />
                <span class="text-danger">6.サービスの中断</span>
                <br />
                シネマサンシャインは、設備的事情等のやむを得ない場合に限って、利用者に事前通知なくサービスを一時的に中断することがあります。その際に利用者に生じた不利益や損失などに対して、一切の責任を負わないものとします。
                <br />
                <span class="text-danger">7.営業の中止について</span>
                <br />
                シネマサンシャインは、利用者にWebサイト上またはメールによる通知の上、サービスの全部または一部を中止できるものとします。サービスの終了に伴い生じる利用者の不利益や損害などに対して、一切の責任を負わないものとします。
                <br />
                <span class="text-danger">8.免責事項</span>
                <br />
                シネマサンシャインは、本サイトの利用に際して利用者が生じた不利益や損害などに対して、一切の責任を負わないものとします。
                <br />
                利用者が本サイトから得る情報などについての一切は、その受け手の責任において判断するものとし、シネマサンシャインは、いかなる保証も行なわないものにします。
                <br />
                利用者が使用する機器・ソフトウェアについて、シネマサンシャインは、その動作保証は一切行なわないものとします。
                <br />
                シネマサンシャインをきっかけに契約に至った案件に関して、その後に生じたトラブルなど、シネマサンシャインでは一切の責任を負わないものとします。
                <br />
                <span class="text-danger">9.準拠法および裁判管轄について</span>
                <br />
                本規約には、日本法が適用されます。また、本規約に関連する利用者とシネマサンシャイン間の紛争については、東京地方裁判所を第一審専属管轄裁判所とします。
            </p>
            <br /><br />
            <h3 class="text-large mb-2">アプリ会員利用規約</h3>
            <p>
                本利用規約（以下「本規約」といいます。）は、佐々木興業株式会社（以下「弊社」といいます。）がシネマサンシャイン有料アプリ（以下「本アプリ」といいます。）において提供するサービスについて、本アプリの会員（以下「本会員」といいます。）と弊社との間の契約内容（サービス、特典及びその条件等）を定めるものです。
                <br />
                本規約の内容は予告なく変更される場合があります。本規約の変更後に本会員が本アプリを利用した場合は、変更後の本規約の内容に同意したものとみなされます。なお、本規約の最新の内容は、本アプリ内において確認することができます。

                <br /><br />
                <span class="text-danger">＜入会・会員資格等について＞</span>
                <br />
                本アプリへの入会を希望する場合は、本規約に同意した上で、必要な会員情報を登録することにより、ユーザーアカウント登録を行ってください。本規約に同意しない場合は、本アプリへの入会はできません。
                <br />
                本アプリへの入会は、ユーザーアカウント登録時に入会金500円（消費税込み）を支払った時点で成立します。なお、入会金の支払は、弊社指定のクレジットカードでの決済が承認された時点で成立します。
                <br />
                暴力団等反社会勢力（＜会員の表明・確約について＞において定義）に該当すると認められる方は、本アプリに入会することはできません。
                <br />
                本アプリは、本会員本人のみが利用することができます。 <br />
                本会員は、本アプリにおいて、１つのユーザーアカウントのみを保有することができます（１人で複数のユーザーアカウントを保有することはできません）。
                <br />
                本会員は、ユーザーアカウント並びにこれに基づく権利義務（サービスや特典等を含みます）を第三者に譲渡又は貸与することはできません。

                <br /><br />
                <span class="text-danger">＜特典について＞</span> <br />
                入会時、鑑賞ポイント（以下「ポイント」といいます。）を1ポイントサービス進呈します。
                <br />
                入会後、本会員が本アプリからのインターネット予約で日時指定の有料映画鑑賞券を購入した場合に、同一作品同一回決済1回につき１ポイントが当該会員に付与されます。ただし、一部の特別上映やイベント上映等、弊社が指定した有料映画鑑賞券については、ポイントが付与されない場合がございます。
                <br /><br />本会員は、次の数のポイントを使用することにより、次の特典を受けることができます。ただし、本会員が、特典として、IMAX®シアター、4DX®シアター又は3D上映等の特殊な形式で上映される作品の有料鑑賞券を購入する場合は、別途差額料金が発生します（別途差額料金を当該会員に負担して頂きます）。また、弊社が指定する一部の映画は、特典の対象外となる場合があります。なお、本会員が特典を利用して有料鑑賞券を購入した場合には、当該券種のみの決済分についてポイントは付与されません。
                <br />
                (1)
                ２ポイント消費：1,200円（消費税込み）で映画を１回鑑賞することができます。
                <br />
                (2) ６ポイント消費：無料で映画を１回鑑賞することができます。
                <br />
                (1)(2)の特典を利用する場合、アプリ内で券種を選択する際に任意のポイント消費数を選択することで当該の券種が選択可能になります。
                <br />
                本会員は、弊社の運営する映画館シネマサンシャインのうち弊社が指定する特定の映画館でのみ、特典を利用することができます。なお、特典が利用可能な映画館は、本アプリにおいて確認することができます。
                <br />
                複数のユーザーアカウント間でのポイントの移行や合算はできません。
                <br />
                ポイントの現金への換金はできません。

                <br /><br />
                <span class="text-danger">＜本人確認について＞</span>
                <br />
                本アプリを利用して購入した有料映画鑑賞券を使用する場合、又は、本会員が本アプリの特典を利用する場合に、弊社は、本アプリの利用者が本会員本人であることを確認するために、本アプリの利用者に本人確認資料の提示を求める場合があります。本アプリの利用者は、弊社から本人確認資料の提示を求められた場合は、これに応じなければなりません。

                <br /><br />
                <span class="text-danger">＜ポイントの有効期間について＞</span>
                <br />
                本会員に付与されたポイントは、当該会員が本アプリの会員資格を失うまでの間、有効に利用することができます。本会員が本アプリの会員資格を失った場合は、その理由の如何にかかわらず、かつ当該会員がポイントを付与された時期にかかわらず、当該会員が保有していたポイントは無効となります。

                <br /><br />
                <span class="text-danger"
                    >＜会員資格の有効期間・更新について＞</span
                >
                <br />
                本会員の会員資格の有効期間は、入会日から１年間です。入会後は、有効期間の途中にて会員資格を喪失した場合でも、その理由の如何を問わず、入会金は返金しません。
                <br />
                本会員が、有効期間満了日の前日２３時５９分までに退会手続を行わない限り、会員資格は有効期間は１年間自動で延長されます。（翌年以降の延長も同様です）。自動更新の際、本会員は、更新年会費500円（消費税込み）を登録している支払方法による自動決済となります。更新後は、更新後の有効期間の途中にて会員資格を喪失した場合でも、その理由の如何を問わず、更新年会費は返金しません。
                <br />
                本会員が会員資格の有効期間を更新した場合は、当該会員が保有するポイントの有効期間も、会員資格と同じ期間まで延長更新されます。また、延長更新時、ポイントを1ポイントサービス進呈します。

                <br /><br />
                <span class="text-danger">＜会員情報の変更について＞</span>
                <br />
                本会員が本アプリに登録している当該会員の情報について変更があった場合、本会員は、速やかに、本アプリ内のマイページにて変更手続をするものとします。変更手続をしなかったことにより本会員が被った損害等については、弊社は補償その他一切の責任を負わないものとします。

                <br /><br />
                <span class="text-danger">＜退会について＞</span>
                <br />
                本会員が本アプリからの退会を希望する場合、本アプリ内のメニューから退会手続をするものとします。退会手続を完了した時点で退会が成立します。退会が成立した場合は、その理由の如何を問わず、当該会員が保有していた全てのポイントが無効となり、本アプリに登録されていた当該会員の情報は全て消去されます。

                <br /><br />
                <span class="text-danger"
                    >＜アプリ端末にトラブルが発生した際の補償について＞</span
                >
                <br />弊社の責めに帰すべき事由によらない端末の紛失や盗難、ユーザーアカウントの他者利用などにより本アプリが他者に不正に使用され、そのために本会員が保有するポイントが消失等した場合、ポイントの再発行はできません。また、この場合に本会員が被った損害等については、弊社は補償その他一切の責任を負わないものとします。

                <br /><br />
                <span class="text-danger">＜会員資格の喪失について＞</span>
                <br />
                本会員について、次のいずれかに該当する事由が生じた場合は、弊社からの何らの通知、催告等を必要とせずに、当該会員は直ちに会員資格を喪失します。この場合、弊社は、当該会員による本アプリの利用を停止することができます。この場合、弊社は、当該会員に対し、入会金、更新年会費の返金をしません。また、この場合、当該会員は弊社に対し、損害賠償請求その他一切の請求はできないものとします。
                <br />
                (1)
                本会員が会員資格を更新したときから30日以内に更新年会費を支払わない場合
                <br />
                (2)
                本人以外の者のユーザーアカウントによって、本アプリにおいて提供されるサービスを利用した場合
                <br />
                (3)
                本人以外の者に、自己のユーザーアカウントによって、本アプリにおいて提供されるサービスを利用させた場合
                <br />
                (4) 本規約に違反した場合 <br />
                (5) その他、本アプリを不正に利用した場合 <br />
                (6) 本会員が死亡した場合 <br />
                (7)
                本会員が＜会員の表明・確約について＞に違反していると弊社が認めた場合

                <br /><br />
                <span class="text-danger">＜会員の表明・確約について＞</span>
                <br />
                本会員は、弊社に対し、次の各号に掲げる事項を表明・保証するものとします。
                <br />
                (1)
                当該会員が、本アプリへの入会時から会員資格喪失時までのいつの時点においても、暴力団、暴力団員、暴力団関係企業・団体又はその関係者、その他の反社会勢力又はその所属員（以下「暴力団等反社会勢力」といいます。）に該当しないこと。
                <br />
                (2)
                当該会員が、本アプリへの入会時から会員資格喪失時までのいつの時点においても、自己、自社若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってするなど、不当に暴力団等反社会勢力を利用していると認められる関係を有していないこと。
                <br />
                (3)
                当該会員が、本アプリへの入会時から会員資格喪失時までのいつの時点においても、暴力団等反社会勢力に対して資金等を供与し、又は便宜を供与するなどの関与をしていると認められる関係を有していないこと
                <br />
                (4)
                当該会員が、本アプリへの入会時から会員資格喪失時までのいつの時点においても、自ら又は第三者を利用して次の各号の一に該当する行為を行わないこと。
                <br />
                ① 暴力的な要求行為 <br />
                ② 法的な責任を超えた不当な要求行為 <br />
                ③ 取引に関して、脅迫的な言動をし、又は暴力を用いる行為 <br />
                ④
                風説を流布し、偽計を用い又は威力を用いて弊社若しくは第三者の信用を毀損し、又は弊社若しくは第三者の業務を妨害する行為
                <br />
                ⑤ その他前各号に準ずる行為

                <br /><br />
                <span class="text-danger">＜個人情報の取扱いについて＞</span>
                <br />
                弊社は、本会員のプライバシーを尊重し、以下の考え方に基づき個人情報を適切に管理します。
                <br />
                本会員が本アプリに登録した当該会員の情報（以下「会員情報」といいます。）は、個人情報保護法に定める個人情報として弊社が取得及び管理します。
                <br />
                弊社は、会員情報を、会員リスト管理、弊社から会員への情報提供、マーケティング分析、アンケート調査及び景品等の送付、その他本アプリにおいて提供するサービスのために利用します。
                <br />
                弊社は、上記目的の範囲内で、会員情報を弊社選定委託業者に委託することがあります。
                <br />
                会員情報については、上記に加えて、弊社のホームページに掲載されている弊社のプライバシーポリシーが適用されます（<a
                    href="http://www.cinemasunshine.co.jp/privacy/"
                    target="_blank"
                    >http://www.cinemasunshine.co.jp/privacy/</a
                >）。

                <br /><br />
                <span class="text-danger">＜準拠法・管轄について＞</span> <br />
                本規約は日本法に準拠し、これに基づいて解釈されるものとします。
                <br />
                本規約又は本アプリに関して本アプリの利用者又は本会員と弊社との間で発生した一切の紛争については、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。
                <br /><br />
                佐々木興業株式会社
            </p>
        </div>
    </div>
    <form [formGroup]="termsForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-3">
            <div class="mb-2 checkbox">
                <input type="checkbox" formControlName="terms" id="terms" />
                <label for="terms" class="agree-label"
                    >利用規約に同意する</label
                >
            </div>
            <div
                *ngIf="
                    termsForm.controls['terms'].invalid &&
                    (termsForm.controls['terms'].dirty ||
                        termsForm.controls['terms'].touched)
                "
                class="text-danger"
            >
                利用規約に同意してください
            </div>
        </div>
        <div class="buttons mx-auto text-center">
            <button
                type="submit"
                [disabled]="isLoading"
                class="btn btn-primary btn-block py-3 mb-3"
            >
                次へ
            </button>
            <button
                type="button"
                class="btn btn-outline-secondary btn-block py-3"
                routerLink="/auth/select"
            >
                戻る
            </button>
        </div>
    </form>
</div>
