<div class="contents">
    <div class="inner bg-02">
        <p class="read mb-small small-text">鑑賞劇場、鑑賞作品、鑑賞日時を選択してください。</p>
        <ul class="conditions">
            <li class="mb-small">
                <div class="control-label mb-x-small small-x-text text-light-gray">鑑賞劇場</div>
                <select class="form-control" name="theater" [(ngModel)]="conditions.theater" (change)="changeConditions()">
                    <option value="">選択してください</option>
                    <option *ngFor="let theater of theaters" value="{{ theater.location.branchCode }}">{{ theater.name.ja }}</option>
                </select>
            </li>
            <li>
                <div class="control-label mb-x-small">
                    <span class="text-light-gray small-x-text">鑑賞日時</span>
                    <div *ngIf="isPreSale" class="preSale small-text text-red">先行販売 <app-icon iconName="arrow-red" width="12" height="12"></app-icon></div>
                </div>
                <div class="dateList">
                    <ul class="scroll">
                        <li *ngFor="let date of dateList" class="text-center text-light-gray" [class.active]="conditions.date === date.value" (click)="selectDate(date)">
                            <div class="inner">
                                <div class="month mb-xx-small">{{ date.display.month }}</div>
                                <div class="day mb-xx-small">
                                    <strong class="large-text">{{ date.display.day }}</strong>
                                    <span class="small-x-text">({{ date.display.week }})</span>
                                </div>
                                <div class="service-day small-text mb-xx-small">{{ date.serviceDay }}</div>
                                <div *ngIf="date.preSale" class="pre-sale small-text">先行販売</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="date" [(ngModel)]="conditions.date">
            </li>
        </ul>
    </div>
    <div class="inner">
        <p *ngIf="conditions.date !== ''" class="text-center mb-x-small">{{ conditions.date | dateFormat:'YYYY年MM月DD日(ddd)' }}</p>
        <ul class="sort mb-small">
            <li [class.active]="conditions.sort === purchaseSort.Film" class="small-text text-center" (click)="changeSort(purchaseSort.Film)">作品順</li>
            <li [class.active]="conditions.sort === purchaseSort.Time" class="small-text text-center" (click)="changeSort(purchaseSort.Time)">上映時間順</li>
        </ul>

        <div *ngIf="!isLoading && filmOrder.length > 0 && conditions.sort === purchaseSort.Film">
            <div *ngFor="let filmData of filmOrder" class="film-order mb-x-small">
                <div class="info">
                    <p class="title mb-xx-small">{{ filmData.films[0].name.ja }}</p>
                    <div class="date small-x-text text-light-gray">
                        <app-icon iconName="time-gray" width="15" height="15"></app-icon>
                        {{ filmData.films[0].workPerformed.duration | duration: 'minutes' }}分
                    </div>
                </div>
                <app-purchase-performance-film *ngFor="let film of filmData.films" [performance]="film"></app-purchase-performance-film>
            </div>
        </div>

        <div *ngIf="!isLoading && timeOrder.length > 0 && conditions.sort === purchaseSort.Time">
            <app-purchase-performance-time *ngFor="let performance of timeOrder" [performance]="performance"></app-purchase-performance-time>
        </div>

        <div class="no-schedule" *ngIf="!isLoading && filmOrder.length === 0">
            <div class="mb-x-small" *ngIf="conditions.theater === ''">鑑賞劇場が選択されていません。</div>
            <div class="mb-x-small" *ngIf="conditions.date === ''">鑑賞日時が選択されていません。</div>
            <div class="mb-x-small" *ngIf="conditions.theater !== '' && conditions.date !== ''">上映作品がありません。</div>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>