<app-campaign class="d-block" url="member/mypage"></app-campaign>
<div class="py-4 px-3">
    <div class="mb-3">
        <div class="mb-3">
            <div class="text-small mb-2">会員コード</div>
            <div class="p-2 bg-white mb-2">
                <span *ngIf="account">
                    {{ account.typeOfGood.accountNumber }}
                </span>
                <span *ngIf="!account">-</span>
            </div>
            <div class="container px-0">
                <div class="row">
                    <div class="col-6 pr-2">
                        <button *ngIf="account" type="button" class="btn btn-block btn-primary center" (click)="copy({ 
                            value: account.typeOfGood.accountNumber, 
                            title: '', 
                            body: '会員コードをコピーしました'
                        })">コードをコピー</button>
                    </div>
                    <div class="col-6 pl-2">
                        <button *ngIf="account" type="button" class="btn btn-block btn-primary center"
                            (click)="openQR(account.typeOfGood.accountNumber)">
                            QRを表示
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="">
            <div class="text-small mb-2">会員更新予定日</div>
            <div class="p-2 bg-white">
                <span *ngIf="programMembershipOwnershipInfo?.ownedThrough">
                    {{ moment(programMembershipOwnershipInfo.ownedThrough).format('YYYY/MM/DD') }}
                </span>
                <span *ngIf="!programMembershipOwnershipInfo?.ownedThrough">-</span>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="text-small mb-2">ポイント交換</div>
        <div class="d-flex bg-white py-3 mb-3">
            <div class="w-50 border-right border-gray text-center px-2">
                <p class="mb-1">￥1100鑑賞</p>
                <p *ngIf="!(availableBalance < 2)" class="text-small mb-1">交換可能</p>
                <p *ngIf="availableBalance < 2" class="text-small mb-1">あと{{ 2 - availableBalance }}pt</p>
                <rating class="text-yellow" [(ngModel)]="availableBalance" [max]="2" [readonly]="true"></rating>
            </div>
            <div class="w-50 text-center px-2">
                <p class="mb-1">無料鑑賞</p>
                <p *ngIf="!(availableBalance < 6)" class="text-small mb-1">交換可能</p>
                <p *ngIf="availableBalance < 6" class="text-small mb-1">あと{{ 6 - availableBalance }}pt</p>
                <rating class="text-yellow" [(ngModel)]="availableBalance" [max]="6" [readonly]="true"></rating>
            </div>
        </div>
        <p><a href="#" (click)="openPointModal($event)"><img class="mr-1 align-middle"
                    src="/assets/images/icon/help_blue.svg" width="16" height="16">ポイント交換について</a></p>
    </div>

    <div class="buttons mx-auto text-center mb-4">
        <button type="button" class="btn btn-primary btn-block center py-3 mb-3"
            (click)="openWebBrowser(environment.PORTAL_SITE + '/point-transfer')">ポイント振替</button>
        <button type="button" class="btn btn-primary btn-block center py-3 mb-3"
            routerLink="/member/point/history">ポイント使用・獲得履歴</button>
        <button type="button" class="btn btn-primary btn-block center py-3 mb-3"
            routerLink="/member/ticket/history">鑑賞履歴</button>
        <button type="button" class="btn btn-primary btn-block center py-3" routerLink="/member/edit">登録情報確認・変更</button>
    </div>
    <div>
        <p class="mb-2"><a href="#" routerLink="/auth/logout">ログアウト</a></p>
        <p><a href="#" routerLink="/member/withdraw">退会</a></p>
    </div>
</div>

<app-loading [show]="isLoading"></app-loading>
<app-information url="mypage"></app-information>