app-page {
    background-image: url(/assets/images/member/bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.bottom-contents {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    background-color: #333;
    border-top: 1px solid #333;
    li {
        height: 100px;
        background-color: #000;
        position: relative;
        background-position: center 20px;
        background-repeat: no-repeat;
        background-size: 50px;
        .caption {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
        }
        &:nth-child(1) {
            background-image: url(/assets/images/member/mypage_01.svg);
        }
        &:nth-child(2) {
            background-image: url(/assets/images/member/mypage_02.svg);
        }
        &:nth-child(3) {
            background-image: url(/assets/images/member/mypage_03.svg);
        }
        &:nth-child(4) {
            background-image: url(/assets/images/member/mypage_04.svg);
        }
    }
}
