<header>
    <div class="header">
        <div class="logo">
            <img src="/assets/images/common/logo_text_02.svg">
        </div>
        <h1>{{ page.title }}</h1>
        <div class="menu-button" [class.active]="isMenuOpen" (click)="(isMenuOpen) ? menuClose() : menuOpen()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<app-header-menu [isMember]="user.isMember()" [isOpen]="isMenuOpen" (close)="menuClose()"></app-header-menu>