.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 48px;
}

.header.border-bottom {
    border-width: 3px !important;
}

.logo {
    width: 120px;
    img {
        display: block;
    }
}

.balance {
    background: linear-gradient(to right, #029ee8, #0365c2);
}

.menu-button {
    position: relative;
    width: 20px;
    height: 16px;
    div {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5px;
        width: 50%;
        height: 1px;
        background-color: #333;
        &:first-child {
            width: 100%;
            top: 0;
            margin-top: 0;
        }
        &:last-child {
            width: 100%;
            top: initial;
            bottom: 0;
            margin-top: 0;
        }
    }
    &.active {
        div {
            opacity: 0;
            &:first-child {
                opacity: 1;
                top: 50%;
                margin-top: -1px;
                transform: rotate(45deg);
            }
            &:last-child {
                opacity: 1;
                top: 50%;
                bottom: initial;
                margin-top: -1px;
                transform: rotate(-45deg);
            }
        }
    }
}
