<header>
    <div class="header d-flex align-items-center bg-white px-3">
        <div class="logo">
            <img src="/assets/images/common/logo_text_02.svg">
        </div>
        <div *ngIf="userService.isMember()" class="ml-3 balance py-1 px-4 text-center text-white d-flex align-items-center">
            <span class="text-large font-weight-bold">{{ availableBalance }}</span><span class="ml-2">pt</span>
        </div>
        <div class="menu-button ml-auto" [class.active]="isMenuOpen" (click)="(isMenuOpen) ? menuClose() : menuOpen()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<app-header-menu [isMember]="userService.isMember()" [isOpen]="isMenuOpen" (close)="menuClose()"></app-header-menu>