<div class="contents position-center">
    <div class="inner center">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendVerificationCode()">
            <div class="mb-small">
                <label class="control-label small-text">ユーザー</label>
                <input type="text" class="form-control" name="userName" [formControl]="forgotPasswordForm.controls.userName">
                <p class="validation text-danger small-text" *ngIf="forgotPasswordForm.controls.userName.errors?.required && forgotPasswordForm.controls.userName.dirty">必須項目</p>
            </div>

            <button [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-primary btn-block mb-small">次へ</button>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>