@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
    height: 60px;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

ul.border-top {
    border-width: 3px !important;
}

li {
    width: 33.3%;
    img {
        &.on {
            display: none;
        }
    }
    &.active {
        p {
            color: #FFF !important;
        }
        img {
            &.off {
                display: none;
            }
            &.on {
                display: inline-block;
            }
        }
    }
}
