@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
    height: 60px;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

li {
    width: 33.3%;
}
.active {
    p {
        color: #FFF !important;
    }
}