<div class="p-3 scroll-vertical">
    <div class="mb-4">
        <p *ngIf="title" class="mb-2 text-danger font-weight-bold text-large">{{ title }}</p>
        <p *ngIf="read" class="mb-0">{{ read }}</p>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" (click)="close()">
            了承する
        </button>
        <button type="button" class="btn btn-outline-secondary btn-block py-3" (click)="modal.hide()">
            キャンセル
        </button>
    </div>
</div>