<div class="p-3 scroll-vertical">
    <div class="mb-4">
        <p class="mb-2 text-danger font-weight-bold text-large">ワクチン・検査パッケージ技術実証 対象上映回</p>
        <p class="mb-0">
            この上映回は、ワクチン・検査パッケージ技術実証回です。<br>
            ご鑑賞日当日は、以下の物をお持ち下さい。<br>
            ①　a:ワクチン接種記録証（ワクチン2回目接種後14日経過）<br>
            b:PCR検査陰性証明書（鑑賞日3日前以降に検体採取されたもの）<br>
            c:抗原検査陰性証明書（鑑賞日前日以降に検体採取されたもの）<br>
            ※a～ｃのいずれか1点<br>
            ②本人確認書類<br>
            また、ご入場の際、お客様情報をご記入いただく必要がございます。<br>
            詳しくは、<a class="text-decoration-underline" href="#"
                (click)="openWebBrowser('https://www.cinemasunshine.co.jp/theater/heiwajima/news/2646.php', $event)">こちら</a>をご覧下さい。
        </p>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" (click)="close()">
            了承する
        </button>
        <button type="button" class="btn btn-outline-secondary btn-block py-3" (click)="modal.hide()">
            キャンセル
        </button>
    </div>
</div>