$font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;

* {
    box-sizing: border-box;
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    background-color: #000;
    background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%);
    background-attachment: fixed;
    font-size: 14px;
    color: #FFF;
    min-height: 100vh;
    font-family: $font-family;
}
p {
    line-height: 1.4;
}
a {
    color: #FFF;
    &:focus, &:hover {
        color: inherit;
        text-decoration: none;
    }
}
div {
    line-height: 1;
}
img {
    width: 100%;
}
input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=submit],
textarea,
select,
option,
button,
label {
    font-weight: 500;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: $font-family;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number] {
    width: 100%;
    border: 1px solid #999;
    padding: 0 10px;
    background-color: #FFF;
    line-height: 44px;
    height: 44px;
    outline: none;
}

textarea {
    width: 100%;
    border: 1px solid #999;
    padding: 8px 10px;
    background-color: #FFF;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    border: 1px solid #999;
    padding: 0 54px 0 10px;
    height: 44px;
    background-color: #FFF;
    background-image: url(/assets/images/common/select.svg);
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: right center;
    outline: none;
}

.contents {
    padding: 10px 15px;
    position: relative;
    min-height: calc(100vh - 48px - 60px);
}

.mb-x-small {
    margin-bottom: 10px;
}
.mb-small {
    margin-bottom: 20px;
}
.mb-middle {
    margin-bottom: 30px;
}
.mb-large {
    margin-bottom: 40px;
}
.small-x-text {
    font-size: 10px;
}
.small-text {
    font-size: 12px;
}
.large-text {
    font-size: 24px;
}
.large-x-text {
    font-size: 32px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.control-label {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
}

.btn {
    border-radius: 30px;
    padding: 20px 0; 
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #0074A9;
    color: #FFF;
    &:hover {
        background-color: #0074A9;
    }
}

.btn-info {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    &:hover {
        background-color: transparent;
    }
}

.btn:hover {
    background-color: inherit !important;
    border-color: inherit !important;
}

.pagination-wrapper {
    position: fixed;
    bottom: 70px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    .swiper-pagination {
        position: static;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
        border-radius: 25px;
        .swiper-pagination-bullet {
            background-color: transparent;
            border: 1px solid #FFF;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin: 0 5px;
            vertical-align: middle;
        }
        .swiper-pagination-bullet-active {
            background-color: #00A0E9;
            border: 1px solid #00A0E9;
        }
    }
}

.auth {
    .auth-container {
        display: block;
        margin: 20px;
        padding: 20px;
        background-color: #FFF;
        label {
            margin: 0 0 10px;
        }
    }
}

.bg-image-blue {
    background: url(/assets/images/common/bg_01.svg);
    background-size: cover;
}
