.icon-ticket-holder-white {
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 16px;
        background-image: url(/assets/images/icon/ticket_holder_white.svg);
        background-size: 24px 16px;
        background-repeat: no-repeat;
    }
}

.icon-purchase-white {
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 16px;
        background-image: url(/assets/images/icon/purchase_white.svg);
        background-size: 24px 16px;
        background-repeat: no-repeat;
    }
}

.icon-film-name-gray {
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 16px;
        background-image: url(/assets/images/icon/film_name_gray.svg);
        background-size: 24px 16px;
        background-repeat: no-repeat;
    }
}

.icon-calendar-gray {
    &:before {
        content: '';
        display: block;
        width: 22px;
        height: 20px;
        background-image: url(/assets/images/icon/calendar_gray.svg);
        background-size: 22px 20px;
        background-repeat: no-repeat;
    }
}

.icon-location-gray {
    &:before {
        content: '';
        display: block;
        width: 15px;
        height: 21px;
        background-image: url(/assets/images/icon/location_gray.svg);
        background-size: 15px 21px;
        background-repeat: no-repeat;
    }
}

.icon-time-gray {
    &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-image: url(/assets/images/icon/time_gray.svg);
        background-size: 21px 21px;
        background-repeat: no-repeat;
    }
}

.icon-prev-white {
    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(/assets/images/icon/prev_white.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
}