.about {
    padding-top: 40px;
    background: url(/assets/images/about/bg-01.svg);
    background-size: cover;
    h2 {
        background-color: #F4D600;
        padding: 10px;
        color: #333;
    }
}