<div class="contents about">
    <p class="read mb-middle text-center">
        このアプリはシネマサンシャイン公式の<br>
        スマートフォンアプリです。<br>
        このアプリを使うことで、アプリ会員価格での<br>
        チケット購入やチケットの保存機能など<br>
        シネマサンシャインでの映画鑑賞を<br>
        お得にお楽しみ頂けます。
    </p>
    <div class="mb-middle text-center">
        <h2 class="mb-small"><strong>アプリ会員価格でのチケット購入！</strong></h2>
        <p class="mb-middle">
            通常のチケット購入価格よりお得な<br>
            アプリ会員価格でチケットが購入できます。
        </p>
        <div><img src="/assets/images/about/discount.svg" width="135" height="103"></div>
    </div>
    <div class="mb-middle text-center">
        <h2 class="mb-small"><strong>チケットをスマートに購入</strong></h2>
        <p class="mb-middle">
            一度アプリ内でチケット購入を行うと、<br>
            次回から購入者情報やクレジットカード情報を<br>
            入力せずにご購入頂けます。
        </p>
        <div><img src="/assets/images/about/buy.svg" width="99" height="171"></div>
    </div>
    <div class="mb-middle text-center">
        <h2 class="mb-small"><strong>スマフォがそのままチケットに！</strong></h2>
        <p class="mb-middle">
            鑑賞当日は、チケットホルダー内のQRコードを<br>
            見せるだけでスムーズにご入場頂けます。
        </p>
        <div><img src="/assets/images/about/ticket.svg" width="115" height="131"></div>
    </div>
</div>