<div class="py-4 px-3">
    <h2 class="text-center mb-3 text-large font-weight-bold">劇場選択</h2>
    <p class="mb-3">
        よく行く劇場を選択して登録してください
    </p>


    <div *ngIf="!isLoading" class="options">
        <form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">劇場</p>
                        <div class="col-md-8">
                            <select formControlName="theater" class="form-control" id="theater">
                                <option value="">選択してください</option>
                                <option *ngFor="let theater of theaters" [value]="theater.branchCode">
                                    {{ theater.name.ja }}</option>
                            </select>
                            <div class="text-small mb-2"
                                *ngIf="optionsForm.controls['theater'].invalid && optionsForm.controls['theater'].touched">
                                <p *ngIf="optionsForm.controls['theater'].errors.required" class="text-danger mb-2">
                                    よく行く劇場が未入力です</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons mx-auto text-center">
                <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block py-3 mb-3">登録</button>
                <button type="button" class="btn btn-outline-secondary btn-block py-3"
                    routerLink="/auth/register/credit">戻る</button>
            </div>
        </form>
    </div>
</div>


<app-loading [show]="isLoading"></app-loading>