<div class="swiper-container mb-2" [swiper]="config">
    <div class="swiper-wrapper">
        <div *ngFor="let stampGroup of stamps" class="swiper-slide">
            <ul>
                <li *ngFor="let stamp of stampGroup">
                    <div *ngIf="stamp.status" class="stamp text-x-small text-center">CINEMA<br>SUNSHINE</div>
                    <div *ngIf="!stamp.status" class="label text-center">{{ stamp.label }}</div>
                    <div *ngIf="stamp.label === 2" class="description text-center text-x-small">割引鑑賞券 GET</div>
                    <div *ngIf="stamp.label === 6" class="description text-center text-x-small">無料鑑賞券 GET</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="pagination-wrapper">
    <div class="swiper-pagination"></div>
</div>