.startup {
    background: linear-gradient(135deg, rgba(0,160,233,1) 0%,rgba(0,33,107,1) 100%);
}
.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}
.under-line {
    border-bottom: 3px solid #F4D600;
}
.step-0 {
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 132px;
        height: 80px;
        margin: -40px 0 0 -66px;
        filter: drop-shadow(1px 1px 6px #000);
    }
}
.walk-through {
    .swiper-slide {
        &:last-child {
            button {
                border-radius: 0;
                padding: 60px 0;
            }
        }
    }
}