<div class="startup">
    <swiper [config]="config">
        <div class="swiper-wrapper walk-through">
            <div class="swiper-slide step-1">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>シネマサンシャイン<br>公式アプリへようこそ!</strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/01.svg" width="118" height="202"></div>
                </div>
            </div>
            <div class="swiper-slide step-2">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>いつでも<br><span class="under-line">アプリ会員価格！</span></strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/02.svg" width="118" height="202"></div>
                    <p class="text-center mb-middle">お得なアプリ会員価格で<br>チケットが購入できます。</p>
                </div>
            </div>
            <div class="swiper-slide step-3">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>チケットを<br><span class="under-line">スマートに購入！</span></strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/03.svg" width="118" height="202"></div>
                    <p class="text-center mb-middle">一度、アプリ内で購入すると<br>面倒な購入者情報入力をスキップできます。</p>
                </div>
            </div>
            <div class="swiper-slide step-4">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>スマートフォンを<br><span class="under-line">そのままチケットに！</span></strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/04.svg" width="274" height="223"></div>
                    <p class="text-center mb-middle">チケット発券の手間いらず。<br>アプリの画面を見せるだけで入場できます。</p>
                </div>
            </div>
            <!-- <div class="swiper-slide step-5">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>アプリでチケットを<br><span class="under-line">6枚購入すると1枚無料！</span></strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/06.svg" width="118" height="202"></div>
                    <p class="text-center mb-middle">アプリ内で6枚購入すると<br>なんと1枚無料になります。</p>
                </div>
            </div> -->
            <div class="swiper-slide step-5">
                <div class="inner">
                    <p class="text-center large-text mb-middle"><strong>それではアプリを<br>お楽しみください！</strong></p>
                    <div class="image text-center mb-middle"><img src="/assets/images/walkThrough/05.svg" width="269" height="241"></div>
                    <button class="btn btn-info btn-block" (click)="login()">アプリを始める</button>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
</div>