.startup {
    background: linear-gradient(135deg, rgba(0,160,233,1) 0%,rgba(0,33,107,1) 100%);
}
.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
}
.under-line {
    border-bottom: 4px solid #F4D600;
}