<div class="contents">
    <div class="inner">
        <p class="mb-middle text-center">該当の項目を編集して更新を押してください。</p>
        <form [formGroup]="updateForm" (ngSubmit)="submit()">
            <div class="mb-small">
                <label class="control-label small-text">メールアドレス</label>
                <input type="email" class="form-control" name="mail" [formControl]="updateForm.controls.mail">
                <p class="validation text-red small-text" *ngIf="updateForm.controls.mail.errors?.required && updateForm.controls.mail.dirty">必須項目</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.mail.errors?.maxlength && updateForm.controls.mail.dirty">30文字以内で入力してください</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.mail.errors?.email && updateForm.controls.mail.dirty">メール形式で入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">せい</label>
                <input type="text" class="form-control" name="familyName" [formControl]="updateForm.controls.familyName">
                <p class="validation text-red small-text" *ngIf="updateForm.controls.familyName.errors?.required && updateForm.controls.familyName.dirty">必須項目</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.familyName.errors?.maxlength && updateForm.controls.familyName.dirty">10文字以内で入力してください</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.familyName.errors?.pattern && updateForm.controls.familyName.dirty">ひらがなで入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">めい</label>
                <input type="text" class="form-control" name="givenName" [formControl]="updateForm.controls.givenName">
                <p class="validation text-red small-text" *ngIf="updateForm.controls.givenName.errors?.required && updateForm.controls.givenName.dirty">必須項目</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.givenName.errors?.maxlength && updateForm.controls.givenName.dirty">10文字以内で入力してください</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.givenName.errors?.pattern && updateForm.controls.givenName.dirty">ひらがなで入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">電話番号</label>
                <input type="tel" class="form-control" name="telephone" [formControl]="updateForm.controls.telephone">
                <p class="validation text-red small-text" *ngIf="updateForm.controls.telephone.errors?.required && updateForm.controls.telephone.dirty">必須項目</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.telephone.errors?.maxlength && updateForm.controls.telephone.dirty">15文字以内で入力してください</p>
                <p class="validation text-red small-text" *ngIf="updateForm.controls.telephone.errors?.pattern && updateForm.controls.telephone.dirty">数字で入力してください</p>
            </div>

            <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary btn-block">更新</button>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>