<div class="p-3 scroll-vertical">
    <p class="mb-2 text-center text-large">セキュリティーコードについて</p>
    <p class="mb-3">※カード会社により表示箇所および名称が異なります。</p>
    <div class="mb-3">
        <p class="font-weight-bold">VISA / MASTER / DINERS / JCBの場合</p>
        <p class="mb-3">【カード裏面】セキュリティーコード(末尾3桁)</p>
        <img src="/assets/images/common/credit_back.svg" alt="">
    </div>
    <div class="mb-4">
        <p class="font-weight-bold">AMEXの場合</p>
        <p class="mb-3">【カード表面】セキュリティーコード(4桁)</p>
        <img src="/assets/images/common/credit_front.svg" alt="">
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-secondary btn-block py-3"
            (click)="modal.hide()">閉じる</button>
    </div>

</div>