.inner {
    padding: 40px 15px;
}

.scroll-box {
    overflow-y: auto;
    height: 200px;
}

.validation-text {
    border: 1px solid red;
    background-color: #ffefef;
    color: red;
    padding: 10px;
    display: inline-block;
}