<app-campaign class="d-block" url="ticket"></app-campaign>
<div class="">
    <p class="py-2 px-3 bg-gray">上映中</p>
    <div class="bg-light-gray container">
        <ul class="row p-2">
            <li class="col-4 p-1">
                <div class="mb-1">
                    <img src="https://sskportal2018prod.blob.core.windows.net/file/7eef99938d1c3f008db8bdefbd186f0c.jpg" class="w-100" alt="レディ・プレイヤー1">
                </div>
                <p class="text-x-small">レディ・プレイヤー1</p>
            </li>
        </ul>
    </div>
</div>
<div class="future">
    <p class="px-3 py-2 bg-gold">上映予定</p>
    <div class="bg-light-gold container">
        <ul class="row p-2">
            <li class="col-4 p-1">
                <div class="mb-1">
                    <img src="https://sskportal2018prod.blob.core.windows.net/file/7eef99938d1c3f008db8bdefbd186f0c.jpg" class="w-100" alt="レディ・プレイヤー1">
                </div>
                <p class="text-x-small">レディ・プレイヤー1</p>
            </li>
        </ul>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>