<div class="contents">
    <div class="inner">
        <p class="mb-small text-center small-text">
            購入した鑑賞作品の下記チケットのQRコードを
            <br>入場口スタッフに提示してください。
        </p>
        <div *ngIf="!isLoading">
            <div *ngIf="reservations.length > 0;">
                <div class="swiper-container" #swiper [swiper]="config" (slideChangeTransitionEnd)="slideChangeTransitionEnd()">
                    <div class="swiper-wrapper">
                        <div *ngFor="let reservation of reservations" class="swiper-slide">
                            <app-ticket-detail [reservation]="reservation"></app-ticket-detail>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <app-ticket-not-found *ngIf="reservations.length === 0;"></app-ticket-not-found>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>
<app-information *ngIf="!user.isMember()"></app-information>