<div class="contents bg-01">
    <div class="inner">
        <p class="read mb-middle small-text">
            このアプリはシネマサンシャイン公式のスマートフォンアプリです。<br>
            このアプリを使うことで、チケットの保存機能などシネマサンシャインでの映画鑑賞をお得にお楽しみ頂けます。
        </p>
        <!-- <div class="mb-middle">
            <h2 class="mb-small text-center large-text">アプリ会員価格でのチケット購入！</h2>
            <p class="mb-middle text-center small-text">
                通常のチケット購入価格よりお得な<br>アプリ会員価格でチケットが購入できます。
            </p>
            <div class="text-center"><img src="/assets/images/about/app_price.svg" width="230" height="150"></div>
        </div> -->
        <div class="mb-middle">
            <h2 class="mb-small text-center large-text">チケットをスマートに購入</h2>
            <p class="mb-middle text-center small-text">
                一度アプリ内でチケット購入を行うと、<br>次回から購入者情報を自動入力します。
            </p>
            <div class="text-center"><img src="/assets/images/about/purchase_smartly.svg" width="230" height="150"></div>
        </div>
        <div class="mb-middle">
            <h2 class="mb-small text-center large-text">スマートフォンが<br>そのままチケットに！</h2>
            <p class="mb-middle text-center small-text">
                鑑賞当日は、チケットホルダー内のQRコードを<br>見せるだけでスムーズにご入場頂けます。
            </p>
            <div class="text-center"><img src="/assets/images/about/app_ticket.svg" width="230" height="150"></div>
        </div>
    </div>
</div>