<div class="py-4 px-3">
    <p class="mb-3">
        クレジットカードを変更してください。
    </p>
    <div class="image mb-2 text-center">
        <img alt="" src="/assets/images/common/credit_card.png">
    </div>
    <p class="mb-2 text-danger">
        ※ご登録の際に、デビットカード・プリペイドカードをご使用されると動作が異なる場合がありますのでご使用をご遠慮ください。
    </p>
    <div class="credit">
        <form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">カード番号</p>
                        <div class="col-md-8">
                            <p class="text-small mb-2 text-dark-gray">※半角数字、ハイフン「-」なしで入力してください</p>
                            <input class="form-control"
                                [class.validation]="creditForm.controls['cardNumber'].invalid && creditForm.controls['cardNumber'].touched"
                                type="text" pattern="\d*" formControlName="cardNumber" id="cardNumber"
                                autocomplete="off" placeholder="(例)1234567890" maxlength="16">
                            <div class="text-small"
                                *ngIf="creditForm.controls['cardNumber'].invalid && creditForm.controls['cardNumber'].touched">
                                <p *ngIf="creditForm.controls['cardNumber'].errors.required" class="text-danger">
                                    カード番号が未入力です</p>
                                <p *ngIf="creditForm.controls['cardNumber'].errors.pattern" class="text-danger">
                                    カード番号は数字で入力してください</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">有効期限</p>
                        <div class="col-md-8">
                            <div class="form-inline">
                                <select class="form-control d-inline-block w-auto" id="cardExpirationMonth"
                                    formControlName="cardExpirationMonth">
                                    <option *ngFor="let month of cardExpiration.month" [value]="month">{{ month }}
                                    </option>
                                </select>
                                <span class="mx-2"> 月</span>
                                <select class="form-control d-inline-block w-auto" id="cardExpirationYear"
                                    formControlName="cardExpirationYear">
                                    <option *ngFor="let year of cardExpiration.year" [value]="year">{{ year }}</option>
                                </select>
                                <span class="mx-2"> 年</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">セキュリティーコード</p>
                        <div class="col-md-8">
                            <p class="text-small mb-2 text-dark-gray">※半角数字で入力してください</p>
                            <input class="form-control"
                                [class.validation]="creditForm.controls['securityCode'].invalid && creditForm.controls['securityCode'].touched"
                                type="text" pattern="\d*" formControlName="securityCode" autocomplete="off"
                                placeholder="(例)123" maxlength="4">
                            <div class="text-small"
                                *ngIf="creditForm.controls['securityCode'].invalid && creditForm.controls['securityCode'].touched">
                                <p *ngIf="creditForm.controls['securityCode'].errors.required" class="text-danger">
                                    セキュリティーコードが未入力です</p>
                            </div>
                            <p class="mt-2"><a href="#" (click)="openSecurityCode($event)"><img class="mr-1 align-middle" src="/assets/images/icon/help_blue.svg" width="16" height="16">セキュリティーコードについて</a></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">カード名義人</p>
                        <div class="col-md-8">
                            <input class="form-control"
                                [class.validation]="creditForm.controls['holderName'].invalid && creditForm.controls['holderName'].touched"
                                type="text" formControlName="holderName" autocomplete="off"
                                placeholder="(例)TARO CINEMA">
                            <div class="text-small"
                                *ngIf="creditForm.controls['holderName'].invalid && creditForm.controls['holderName'].touched">
                                <p *ngIf="creditForm.controls['holderName'].errors.required" class="text-danger">
                                    カード名義人が未入力です</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons mx-auto text-center">
                <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block py-3 mb-3">変更する</button>
                <button type="button" class="btn btn-outline-secondary btn-block py-3"
                    routerLink="/member/edit">戻る</button>
            </div>
        </form>
    </div>
    
</div>

<app-loading [show]="isLoading"></app-loading>