<div class="contents position-center">
    <div class="inner center">
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="mb-small">
                <label class="control-label small-text">ユーザー</label>
                <input type="text" class="form-control" name="userName" [formControl]="signInForm.controls.userName">
                <p class="text-danger small-text" *ngIf="signInForm.controls.userName.errors?.required && signInForm.controls.userName.dirty">必須項目</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">パスワード</label>
                <input type="password" class="form-control" name="password" [formControl]="signInForm.controls.password">
                <p class="text-danger small-text" *ngIf="signInForm.controls.password.errors?.required && signInForm.controls.password.dirty">必須項目</p>
                <p class="text-danger small-text" *ngIf="signInForm.controls.password.errors?.minlength && signInForm.controls.password.dirty">8文字以上で入力してください</p>
            </div>

            <button [disabled]="signInForm.invalid" type="submit" class="btn btn-primary btn-block mb-small">サインイン</button>

            <div routerLink="/auth/forgotPassword">パスワードを忘れた方はこちら</div>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>