<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="form-group">
        <h2>Create account</h2>
    </div>
    <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" [formControl]="registerForm.controls.name">
        <p class="text-danger small" *ngIf="registerForm.controls.name.errors?.required && registerForm.controls.name.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.name.errors?.maxlength && registerForm.controls.name.dirty">10文字以内</p>
    </div>
    <div class="form-group">
        <label class="control-label" for="mail">Email</label>
        <input id="mail" type="email" class="form-control" name="mail" [formControl]="registerForm.controls.mail">
        <p class="text-danger small" *ngIf="registerForm.controls.mail.errors?.required && registerForm.controls.mail.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.mail.errors?.maxlength && registerForm.controls.mail.dirty">10文字以内</p>
        <p class="text-danger small" *ngIf="registerForm.controls.mail.errors?.email && registerForm.controls.mail.dirty">メール形式</p>
    </div>

    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input id="password" type="email" class="form-control" name="password" [formControl]="registerForm.controls.password">
        <p class="text-danger small" *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.password.errors?.maxlength && registerForm.controls.password.dirty">10文字以内</p>
    </div>
    <div class="form-group">
        <label class="control-label" for="givenName">Given Name</label>
        <input id="givenName" type="text" class="form-control" name="givenName" [formControl]="registerForm.controls.givenName">
        <p class="text-danger small" *ngIf="registerForm.controls.givenName.errors?.required && registerForm.controls.givenName.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.givenName.errors?.maxlength && registerForm.controls.givenName.dirty">10文字以内</p>
    </div>
    <div class="form-group">
        <label class="control-label" for="familyName">Family Name</label>
        <input id="familyName" type="text" class="form-control" name="familyName" [formControl]="registerForm.controls.familyName">
        <p class="text-danger small" *ngIf="registerForm.controls.familyName.errors?.required && registerForm.controls.familyName.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.familyName.errors?.maxlength && registerForm.controls.familyName.dirty">10文字以内</p>
    </div>
    <div class="form-group">
        <label class="control-label" for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="tel" class="form-control" name="phoneNumber" [formControl]="registerForm.controls.phoneNumber">
        <p class="text-danger small" *ngIf="registerForm.controls.phoneNumber.errors?.required && registerForm.controls.phoneNumber.dirty">必須項目</p>
        <p class="text-danger small" *ngIf="registerForm.controls.phoneNumber.errors?.maxlength && registerForm.controls.phoneNumber.dirty">10文字以内</p>
        <p class="text-danger small" *ngIf="registerForm.controls.phoneNumber.errors?.pattern && registerForm.controls.phoneNumber.dirty">数字のみ</p>
    </div>
    <div class="form-group">
        <button [disabled]="registerForm.invalid" id="registerSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
    </div>
    <hr>
    <p>Already have an account? <a [routerLink]="['/auth/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
</form>