.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    li {
        height: 100px;
        background-color: #555;
        position: relative;
        .caption {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
        }
    }
}