.slider-cover {
    width: 100%;
    max-width: 300px;
    height: 2px;
    background-color: #555;
    position: relative;
    .ruler {
        position: absolute;
        top: 50%;
        margin-top: -3px;
        height: 6px;
        width: 1px;
        background-color: #555;
        &:nth-child(1) {
            left: 0;
        }
        &:nth-child(2) {
            left: 20%;
        }
        &:nth-child(3) {
            left: 40%;
        }
        &:nth-child(4) {
            left: 60%;
        }
        &:nth-child(5) {
            left: 80%;
        }
        &:nth-child(6) {
            right: 0;
        }
    }
    .slider {
        position: absolute;
        top: 50%;
        margin-top: -3px;
        height: 6px;
        width: calc(100% / 5);
        &:nth-child(1) {
            left: 0;
            background-color: #dceaf8;
        }
        &:nth-child(2) {
            left: 20%;
            background-color: #95bfea;
        }
        &:nth-child(3) {
            left: 40%;
            background-color: #4e95dc;
        }
        &:nth-child(4) {
            left: 60%;
            background-color: #236ab1;
        }
        &:nth-child(5) {
            left: 80%;
            background-color: #15406a;
        }
    }
}
.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    li {
        height: 100px;
        background-color: #555;
        position: relative;
        .caption {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
        }
    }
}