.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    li {
        height: 100px;
        background-color: #555;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .caption {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
        }
        &:nth-child(1) {
            background-image: url(/assets/images/member/mypage_01.jpg);
        }
        &:nth-child(2) {
            background-image: url(/assets/images/member/mypage_02.jpg);
        }
        &:nth-child(3) {
            background-image: url(/assets/images/member/mypage_03.jpg);
        }
        &:nth-child(4) {
            background-image: url(/assets/images/member/mypage_04.jpg);
        }
    }
}