<div class="contents bg-03">
    <div class="inner">
        <div class="text-center mb-middle">
            <div class="mb-middle">
                シネマ タロウ様
            </div>
            <div class="mb-middle">
                現在
                <span class="large-xx-text">16</span>
                ポイント
            </div>
            <div class="mb-middle">
                あと2ポイントで無料鑑賞
            </div>
            <div class="slider-cover center">
                <div>
                    <div class="ruler"></div>
                    <div class="ruler"></div>
                    <div class="ruler"></div>
                    <div class="ruler"></div>
                    <div class="ruler"></div>
                    <div class="ruler"></div>
                </div>

                <div>
                    <div class="slider"></div>
                    <div class="slider"></div>
                    <div class="slider"></div>
                    <div class="slider"></div>
                    <div class="slider"></div>
                </div>
            </div>
        </div>
        <ul class="menu">
            <li routerLink="/purchase">
                <div class="text-center caption">今スグ観る</div>
            </li>
            <li routerLink="/purchase">
                <div class="text-center caption">チケット購入</div>
            </li>
            <li routerLink="/member/edit">
                <div class="text-center caption">登録情報確認・変更</div>
            </li>
            <li routerLink="/member/benefits">
                <div class="text-center caption">ポイント特典一覧</div>
            </li>
        </ul>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>