.inner {
    display: block;
    background-color: #FFF;
}
.info {
    padding: 15px 10px;
    color: #333;
    background-color: #EEE;
    border-bottom: 1px solid #AAA;
    .title {

    }
    .date {
        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
.performances {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px 0;
}