:host {
    display: block;
}
.inner {
    display: block;
    background-color: #FFF;
    display: flex;
}
.info {
    padding: 15px 10px;
    color: #333;
    background-color: #EEE;
    width: 140px;
    .title {

    }
    .date {
        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
.performances {
    display: flex;
    padding: 5px 5px;
    width: calc(100% - 140px);
    overflow-x: scroll;
    align-items: center;
}