<div class="bg-white p-3">
    <h2 class="text-center mb-2 text-large">会員になると<br>お得な特典がいっぱい</h2>
    <ol class="text-center text-large">
        <li class="mb-3">
            <div class="under-line mb-2">特典 1</div>
            <p class="mb-2">年会費500円（税込み）<br>☆ご入会時に1ポイントプレゼント</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_01.svg" width="230" height="150">
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典 2</div>
            <p class="mb-2">アプリでのチケット購入1回ごとに<br>1ポイント進呈</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_02.svg" width="230" height="150">
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典 3</div>
            <p class="mb-2">2ポイント交換で1,100円鑑賞</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_03.svg" width="230" height="150">
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典 4</div>
            <p class="mb-2">6ポイント交換で無料鑑賞</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_04.svg" width="230" height="150">
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典 5</div>
            <p class="mb-2">毎週木曜日は会員サービスデイ<br>会員ご本人様1,100円</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_05.svg" width="230" height="150">
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典 6</div>
            <p class="mb-2">会員情報登録でチケット購入が<br>さらにラクラク</p>
            <div class="text-center">
                <img src="/assets/images/member/benefits_06.svg" width="230" height="150">
            </div>
        </li>

    </ol>

    <p class="mb-3">会員サービスの内容は変更になる場合がございます。</p>

    <p class="mb-xx-small">特典1</p>
    <p class="text-small mb-2">
        ※年会費はご登録いただいたクレジットカードでの支払いとなります。<br>
        ※会員期間はご入会日から1年間です。<br>
        ※翌年の会員更新手続きは自動更新となります。<br>
        ※会員更新料は500円（税込み）となります。<br>
    </p>
    <p class="mb-xx-small">特典2</p>
    <p class="text-small mb-2">
        ※ポイントは購入枚数に関わらず決済1回につき1ポイント付与となります。<br>
    </p>
    <p class="mb-xx-small">特典3.4</p>
    <p class="text-small mb-2">
        ※1,100円鑑賞／無料鑑賞はアプリでログインした状態からご鑑賞になる上映回、座席を選択し、券種選択画面でポイント使用手続きをしていただくことでご利用いただけます。<br>
        ※3D作品やプレミアムシアターのチケットをご購入の場合は別途差額料金が発生します。<br>
        ※一部、特別興行等で無料鑑賞・1,100円鑑賞がご利用いただけない場合がございます。<br>
        ※ポイントを利用した券種のみでご鑑賞のチケット決済ではポイントは付与されません。<br>
        ※ポイントの有効期限は会員期間の終了までとなりますが、翌年の会員1年更新でポイント期限も同期間まで延長します。<br>
    </p>
    <p class="mb-xx-small">特典5</p>
    <p class="text-small mb-2">
        ※会員1,100円券種は毎週木曜日の上映回をご購入いただく際に1枚お選びいただけます。<br>
        ※3D作品やプレミアムシアターのチケットをご購入の場合は、別途差額料金が発生します。<br>
        ※木曜日であっても、一部特別興行等で1,100円鑑賞がご利用いただけない場合がございます。<br>
    </p>
    <p class="mb-xx-small">特典6</p>
    <p class="text-small mb-2">
        ※会員登録により、チケット購入の度にお客様情報・クレジット情報の入力をする手続きが不要となります。
    </p>

</div>