<div class="bg-white p-3">
    <h2 class="text-center mb-3 font-weight-bold">
        会員になると<br />お得な特典がいっぱい
    </h2>
    <div class="text-center mb-3 font-weight-bold">
        <p class="mb-2">
            アプリのチケット購入<br />
            １回ごとに１ポイント進呈
        </p>
        <div class="text-center">
            <img
                src="/assets/images/member/benefits_00.svg"
                width="230"
                height="150"
            />
        </div>
    </div>
    <ol class="text-center">
        <li class="mb-3">
            <div class="under-line mb-2">特典1</div>
            <p class="mb-2 font-weight-bold">
                会員限定<br />
                オンラインチケット早期購入
            </p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_01.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典2</div>
            <p class="mb-2 font-weight-bold">
                年会費500円（税込み）<br />
                ☆ご入会時に１ポイントプレゼント
            </p>
            <p class="mb-2 text-small text-danger">
                ※以降会員更新時にも1ポイント付与
            </p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_02.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典3</div>
            <p class="mb-2 font-weight-bold">２ポイント交換で1,200円鑑賞</p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_03.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典4</div>
            <p class="mb-2 font-weight-bold">６ポイント交換で1回無料鑑賞</p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_04.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典5</div>
            <p class="mb-2 font-weight-bold">
                毎週木曜日は会員サービスデイ<br />
                会員ご本人様1,200円
            </p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_05.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
        <li class="mb-3">
            <div class="under-line mb-2">特典6</div>
            <p class="mb-2 font-weight-bold">アプリで鑑賞履歴が確認できます</p>
            <div class="text-center">
                <img
                    src="/assets/images/member/benefits_06.svg"
                    width="230"
                    height="150"
                />
            </div>
        </li>
    </ol>

    <p class="mb-3">会員サービスの内容は変更になる場合がございます。</p>
    <p class="mb-3">
        ・チケット購入の会員サービス（2ポイント1,200円鑑賞/6ポイント無料鑑賞、会員サービスデイ鑑賞）は、ご入会の上、アプリ・Webブラウザ（シネマサンシャイン公式HP）でログインすることでご利用いただけます。<br />
        <br />
        ・ポイントは購入枚数に関わらず決済1回につき1ポイント付与となります。<br />
        ※チケット購入者、同伴者とも会員の場合、同伴者の方へアプリ内でポイント振替が可能です
    </p>

    <p class="mb-4">
        特典１<br />
        ※早期購入は、一部作品・上映によっては対象外となる場合がございます。<br />
        <br />
        特典２<br />
        ※年会費はご登録いただいたクレジットカードでの支払いとなります。<br />
        ※会員期間はご入会日から1年間です。<br />
        ※翌年の会員更新手続きは自動更新となります。<br />
        ※会員更新料は500円（税込み）となります。（会員更新時1ポイント付与）<br />
        <br />
        特典３・４<br />
        ※3D作品やプレミアムシアターのチケットをご購入の場合は別途差額料金が発生します。<br />
        ※一部、特別興行等で無料鑑賞・1,200円鑑賞がご利用いただけない場合がございます。<br />
        ※ポイントを利用した券種のみでご鑑賞のチケット決済ではポイントは付与されません。<br />
        ※ポイントの有効期限は会員期間の終了までとなりますが、翌年の会員1年更新でポイント期限も同期間まで延長します。<br />
        <br />
        特典５<br />
        ※会員1,200円券種は毎週木曜日の上映回をご購入いただく際に1枚お選びいただけます。<br />
        ※3D作品やプレミアムシアターのチケットをご購入の場合は、別途差額料金が発生します。<br />
        ※木曜日であっても、一部特別興行等で1,200円鑑賞がご利用いただけない場合がございます。<br />
        <br />
        特典６<br />
        ※会員登録により、チケット購入の度にお客様情報・クレジット情報の入力をする手続きが不要となります。
    </p>
    <h2 class="text-center mb-3 font-weight-bold">その他の機能</h2>
    <div class="text-center">
        <p class="font-weight-bold">
            チケット購入者、同伴者とも会員の場合、同伴者の方へアプリ内マイページにてポイント振替ができるようになりました。
        </p>
        <p class="mb-2 text-small">
            ※ポイントや招待券を利用した座席は対象外です。<br />
            ※チケット購入者、同伴者とも会員の場合に限ります。<br />
            ※窓口・券売機でのご購入は対象外となります。<br />
            ※未ログイン状態でのご購入は対象外となります。
        </p>
        <div class="text-center">
            <img
                src="/assets/images/member/benefits_07.svg"
                width="230"
                height="150"
            />
        </div>
    </div>
</div>
