<div class="inner">
    <div class="background">
        <img #topimage src="/assets/images/ticket-history/header.png" [style.height.px]="topHeight === 0 ? null : topHeight"/>
        <div #centerimage class="center" [style.height.px]="centerHeight"></div>
        <img src="/assets/images/ticket-history/footer.png"/>
    </div>
    <div class="details">
        <div #main class="main">
            <div class="date-time">
                <span class="date">{{ startDate }}</span>
                <span class="time">　{{ startTime }}-{{ endTime }}</span>
            </div>
            <div class="title">{{ reservation.typeOfGood.reservationFor.name.ja }}</div>
            <div class="location">
                <div class="info">
                    <div class="title">劇場</div>
                    <div class="name">{{ theaterName }}</div>
                </div>
                <div class="separator"></div>
                <div class="info">
                    <div class="title">スクリーン</div>
                    <div class="name">{{reservation.typeOfGood.reservationFor.location.name.ja }}</div>
                </div>
            </div>
        </div>
        <div class="bottom">合計 ￥{{ totalPrice }}</div>
    </div>
</div>
