<div class="performance" [ngClass]="(isSalse(performance)) ? (performance.offers?.availability | availability).className : ''">
    <div class="date">
        <div class="mb-xx-small text-center">
            <strong class="large-text">{{ performance.startDate | timeFormat: performance.coaInfo?.dateJouei }}</strong>
        </div>
        <div class="text-center">
            <span>～ {{ performance.endDate | timeFormat: performance.coaInfo?.dateJouei }}</span>
        </div>
    </div>
    <div class="screen small-x-text">{{ performance.location.name.ja }}</div>
    <div class="button text-center" (click)="(isSalse(performance)) ? select.emit() : null;">
        <div *ngIf="isSalse(performance)" class="status">
                <app-icon [iconName]="(performance.offer.availability | availability).icon" width="15" height="15"></app-icon>購入
        </div>
        <div *ngIf="!isSalse(performance) && isBeforePeriod(performance)" class="status">予約不可</div>
        <div *ngIf="!isSalse(performance) && isAfterPeriod(performance)" class="status">予約不可</div>
        <div *ngIf="!isSalse(performance) && !isBeforePeriod(performance) && !isAfterPeriod(performance) && isWindow(performance)" class="status">窓口</div>
    </div>
    <div *ngIf="performance.coaInfo?.kbnService?.kubunCode === '001'" class="service">
        <app-icon iconName="first-show-black" width="10" height="10"></app-icon>
    </div>
    <div *ngIf="performance.coaInfo?.kbnService?.kubunCode === '002'" class="service">
        <app-icon iconName="late-show-black" width="10" height="10"></app-icon>
    </div>
</div>