<div class="contents performance">
    <p *ngIf="performances.length === 0">performanceがありません</p>
    <ul class="box">
        <li *ngFor="let performance of performances">
            <dl>
                <dt>鑑賞日 / スクリーン</dt>
                <dd>{{moment(performance.day).format('YYYY年MM月DD日')}} / {{performance.theater_name.ja}} {{performance.screen_name.ja}}</dd>
                <dt>作品名</dt>
                <dd>{{performance.film.name.ja}}</dd>
            </dl>
            <ul class="clearfix ">
                <li *ngFor="let performance2 of performance.performances" class="button blue-button" (click)="performanceSelect(performance2._id)">
                    {{moment(performance2.time_start, 'hmm').format('HH:mm')}} - {{moment(performance2.time_end, 'hmm').format('HH:mm')}}
                </li>
            </ul>
        </li>
    </ul>
</div>