:host {
    position: absolute;
    top: 48px;
    bottom: 60px;
    left: 0;
    right: 0;
    &.full {
        top: 0;
        bottom: 0;
    }
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.touch {
    -webkit-overflow-scrolling: touch;
}

.keybord-padding {
    height: 50vh;
}