<div class="contents position-center">
    <div class="inner center">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="mb-small">
                <label class="control-label small-text">ユーザー</label>
                <input type="text" class="form-control" name="userName" [formControl]="signUpForm.controls.userName">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.userName.errors?.required && signUpForm.controls.userName.dirty">必須項目</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">パスワード</label>
                <input type="password" class="form-control" name="password" [formControl]="signUpForm.controls.password">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.password.errors?.required && signUpForm.controls.password.dirty">必須項目</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.password.errors?.minlength && signUpForm.controls.password.dirty">8文字以上で入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">メールアドレス</label>
                <input type="email" class="form-control" name="mail" [formControl]="signUpForm.controls.mail">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.mail.errors?.required && signUpForm.controls.mail.dirty">必須項目</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.mail.errors?.maxlength && signUpForm.controls.mail.dirty">30文字以内で入力してください</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.mail.errors?.email && signUpForm.controls.mail.dirty">メール形式で入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">せい</label>
                <input type="text" class="form-control" name="familyName" [formControl]="signUpForm.controls.familyName">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.familyName.errors?.required && signUpForm.controls.familyName.dirty">必須項目</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.familyName.errors?.maxlength && signUpForm.controls.familyName.dirty">10文字以内で入力してください</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.familyName.errors?.pattern && signUpForm.controls.familyName.dirty">ひらがなで入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">めい</label>
                <input type="text" class="form-control" name="givenName" [formControl]="signUpForm.controls.givenName">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.givenName.errors?.required && signUpForm.controls.givenName.dirty">必須項目</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.givenName.errors?.maxlength && signUpForm.controls.givenName.dirty">10文字以内で入力してください</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.givenName.errors?.pattern && signUpForm.controls.givenName.dirty">ひらがなで入力してください</p>
            </div>

            <div class="mb-small">
                <label class="control-label small-text">電話番号</label>
                <input type="tel" class="form-control" name="telephone" [formControl]="signUpForm.controls.telephone">
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.telephone.errors?.required && signUpForm.controls.telephone.dirty">必須項目</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.telephone.errors?.maxlength && signUpForm.controls.telephone.dirty">15文字以内で入力してください</p>
                <p class="validation text-danger small-text" *ngIf="signUpForm.controls.telephone.errors?.pattern && signUpForm.controls.telephone.dirty">数字で入力してください</p>
            </div>

            <button [disabled]="signUpForm.invalid" type="submit" class="btn btn-primary btn-block">登録</button>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>