<app-campaign url="ticket"></app-campaign>
<div class="pt-4 pb-5 px-3">
    <div *ngIf="!isLoading">
        <div *ngIf="reservations.length > 0;">
            <p class="mb-3">
                QRコードを入場口スタッフに提示してください。
            </p>
            <div class="swiper-container" #swiper [swiper]="config">
                <div class="swiper-wrapper">
                    <div *ngFor="let reservation of reservations" class="swiper-slide">
                        <app-ticket-detail [reservation]="reservation"></app-ticket-detail>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper">
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <app-ticket-not-found *ngIf="reservations.length === 0;" [isMember]="user.isMember()"></app-ticket-not-found>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>
<app-information *ngIf="!user.isMember()" [isMember]="false"></app-information>