<div class="contents bg-01">
    <div class="inner">
        <p class="read mb-small">
            クレジットカード登録してください
        </p>
        <div class="image mb-small">
            <img alt="" src="/assets/images/common/credit_card.png">
        </div>
        <div class="credit">
            <form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
                <dl class="mb-middle">
                    <dt>カード番号</dt>
                    <dd>
                        <div class="mb-x-small">
                            <input [class.validation]="creditForm.controls['cardNumber'].invalid && creditForm.controls['cardNumber'].touched" type="text"
                                pattern="\d*" formControlName="cardNumber" id="cardNumber" autocomplete="off" placeholder="(例)1234567890"
                                maxlength="16">
                        </div>
                        <div class="small-text mb-x-small" *ngIf="creditForm.controls['cardNumber'].invalid && creditForm.controls['cardNumber'].touched">
                            <div *ngIf="creditForm.controls['cardNumber'].errors.required" class="validation-text mb-x-small">カード番号が未入力です</div>
                            <div *ngIf="creditForm.controls['cardNumber'].errors.pattern" class="validation-text mb-x-small">カード番号は数字で入力してください</div>
                        </div>
                        <p class="small-text">※半角数字、ハイフン「-」なしで入力してください</p>
                    </dd>
                </dl>
                <dl class="mb-middle">
                    <dt class="mb-x-small">有効期限</dt>
                    <dd>

                        <select formControlName="cardExpirationMonth" id="cardExpirationMonth">

                            <option *ngFor="let month of cardExpiration.month" [value]="month">{{ month }}</option>

                        </select> 月
                        <select formControlName="cardExpirationYear" id="cardExpirationYear">

                            <option *ngFor="let year of cardExpiration.year" [value]="year">{{ year }}</option>

                        </select> 年

                    </dd>
                </dl>
                <dl class="mb-middle">
                    <dt>セキュリティーコード</dt>
                    <dd>
                        <div class="mb-x-small">
                            <input [class.validation]="creditForm.controls['securityCode'].invalid && creditForm.controls['securityCode'].touched"
                                type="text" pattern="\d*" formControlName="securityCode" autocomplete="off" placeholder="(例)123"
                                maxlength="4">
                        </div>
                        <div class="small-text mb-x-small" *ngIf="creditForm.controls['securityCode'].invalid && creditForm.controls['securityCode'].touched">
                            <div *ngIf="creditForm.controls['securityCode'].errors.required" class="validation-text mb-x-small">セキュリティーコードが未入力です</div>
                        </div>
                        <p>
                            <a (click)="securityCodeModal = true">セキュリティーコードについて</a>
                        </p>
                    </dd>
                </dl>
                <dl class="mb-middle">
                    <dt>カード名義人</dt>
                    <dd>
                        <div class="mb-x-small">
                            <input [class.validation]="creditForm.controls['holderName'].invalid && creditForm.controls['holderName'].touched" type="text"
                                formControlName="holderName" autocomplete="off" placeholder="(例)TARO CINEMA">
                        </div>
                        <div class="small-text mb-x-small" *ngIf="creditForm.controls['holderName'].invalid && creditForm.controls['holderName'].touched">
                            <div *ngIf="creditForm.controls['holderName'].errors.required" class="validation-text mb-x-small">カード名義人が未入力です</div>
                        </div>
                    </dd>
                </dl>

                <button type="submit" class="button button-primary button-block mb-middle">クレジットカード登録</button>
                <div class="text-center">
                    <a (click)="signOut()">アプリの始め方へ</a>
                </div>
            </form>
        </div>
    </div>
</div>

<app-modal class="security-code-modal" [open]="securityCodeModal" [layout]="true" (close)="securityCodeModal = false">
    <div class="mb-x-small text-center">セキュリティーコードについて</div>
    <p class="mb-middle small-text">※カード会社により表示箇所および名称が異なります。</p>
    <dl class="mb-middle">
        <dt class="mb-x-small">
            <strong>VISA / MASTER / DINERS / JCBの場合</strong>
        </dt>
        <dd class="mb-x-small">
            <p>【カード裏面】セキュリティーコード(末尾3桁)</p>
        </dd>
        <dd>
            <img src="/assets/images/common/credit_back.svg" alt="">
        </dd>
    </dl>
    <dl>
        <dt class="mb-x-small">
            <strong>AMEXの場合</strong>
        </dt>
        <dd class="mb-x-small">
            <p>【カード表面】セキュリティーコード(4桁)</p>
        </dd>
        <dd>
            <img src="/assets/images/common/credit_front.svg" alt="">
        </dd>
    </dl>
</app-modal>

<app-modal [open]="creditCardAlertModal" [layout]="true" (close)="creditCardAlertModal = false">
    <div class="modal-ttl large-text text-center mb-small">
        <strong>エラーが発生しました</strong>
    </div>
    <p>入力内容をご確認ください。</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>