<div class="contents bg-01">
    <div class="inner">
        <h2 class="text-center mb-small">会員になるとオトクな特典がいっぱい</h2>
        <p class="read mb-middle small-text">
            シネマサンシャインの会員（年会費500円）になるとオトクな特典が受けられます。
        </p>
        <ol>
            <li class="mb-middle">
                <p class="mb-small small-text text-center">
                    【特典1】
                    <br> 見れば見るほどポイントがお得に貯まる！
                </p>
                <div class="text-center">
                    <img src="/assets/images/about/purchase_smartly.svg" width="230" height="150">
                </div>
            </li>
            <li class="mb-middle">
                <p class="mb-small small-text text-center">
                    【特典2】
                    <br> 会員割引でお得に鑑賞！
                </p>
                <div class="text-center">
                    <img src="/assets/images/about/purchase_smartly.svg" width="230" height="150">
                </div>
            </li>
            <li>
                <p class="mb-small small-text text-center">
                    【特典3】
                    <br> 会員様だけの先行予約！
                </p>
                <div class="text-center">
                    <img src="/assets/images/about/purchase_smartly.svg" width="230" height="150">
                </div>
            </li>
        </ol>
    </div>
</div>