<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu" [class.active]="isOpen">
    <!-- <div class="title">{{ name }}</div> -->
    <ul>
        <li>
            <span routerLink="/ticket" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-about-white">HOME画面</span>
        </li>
        <li>
            <span routerLink="/about" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-about-white">このアプリについて</span>
        </li>
        <!-- <li><span routerLink="/profile" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-user-white">ユーザー情報変更</span></li> -->
        <li>
            <span routerLink="/policy" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-text-white">利用規約</span>
        </li>
        <li>
            <span routerLink="/law" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-text-white">特定商取引法に基づく表記</span>
        </li>
        <li>
            <span routerLink="/privacy" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-text-white">プライバシーポリシー</span>
        </li>
        <li>
            <span class="icon-inline icon-external-link-white" (click)="openWebBrowse(portalSite)">シネマサンシャインポータルサイト</span>
        </li>
        <li *ngIf="!sasaki.isMember()">
            <span routerLink="auth/register" (click)="close.emit()" class="icon-inline icon-text-white">会員特典 / 会員登録</span>
        </li>
        <li *ngIf="sasaki.isMember()">
            <span routerLink="member/benefits" (click)="close.emit()" class="icon-inline icon-text-white">会員特典</span>
        </li>
        <li *ngIf="sasaki.isMember()">
            <span routerLink="member/edit" (click)="close.emit()" class="icon-inline icon-text-white">会員情報変更</span>
        </li>
        <li *ngIf="sasaki.isMember()">
            <span routerLink="auth/signOut" (click)="close.emit()" class="icon-inline icon-text-white">ログアウト</span>
        </li>
        <li *ngIf="sasaki.isMember()">
            <span routerLink="/member/withdraw" routerLinkActive="active" (click)="close.emit()" class="icon-inline icon-text-white">退会</span>
        </li>
    </ul>
</div>