
.auth.contents {
    .logo {
        text-align: center;
        margin: 0 0 20px;
        img {
            width: 80px;
        }
    }
    dl {
        dt {
        }
        dd {
            .button {
                margin: 0 0 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


