<div class="contents bg-02">
    <div class="inner">
        <p class="mb-small text-center small-text">
            貯まったポイントの確認ができます。
        </p>
        <div *ngIf="!isLoading">
            <div class="mb-middle text-center">
                現在
                <span class="large-xx-text">16</span>
                ポイント
            </div>
            <!-- <div class="mb-middle">
                <swiper [config]="config" class="mb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <div class="stamp active">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </swiper>
                <div class="pagination-wrapper">
                    <div class="swiper-pagination"></div>
                </div>
            </div> -->
            <div class="mb-small">
                <button type="button" class="button button-primary button-block center" (click)="pointUseModal = true">ポイント使用方法</button>
            </div>
            <div class="button-column-02 center">
                <button type="button" class="button button-info" routerLink="/member/point/history">ポイント使用履歴</button>
                <button type="button" class="button button-info" routerLink="/member/benefits">ポイント特典一覧</button>
            </div>
        </div>

    </div>
</div>
<app-loading [show]="isLoading"></app-loading>

<app-modal class="point-use-modal" [open]="pointUseModal" [layout]="true" (close)="pointUseModal = false">
    <div class="mb-x-small text-center"><strong>ポイント使用方法</strong></div>
    <p class="small-text">
        チケット購入ページで券種選択を選択する際に、会員ポイントを使用することができます。
        <br> そちらでポイントを使用してください。
    </p>
</app-modal>