.point {
    display: inline-block;
    background-color: #333;
    padding: 10px;
}

swiper {
    margin: 0 -15px;
    .swiper-slide {
        padding: 0 15px;
    }
    ul {
        padding: 10px 0;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .stamp {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #CCC;
            margin: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            &.active {
                background-color: #333;
            }
        }
    }
}

.pagination-wrapper {
    position: static;
}