<div class="contents bg-02">
    <div class="inner">
        <p class="mb-small text-center small-text">
            貯まったポイントの確認ができます。
        </p>
        <div *ngIf="!isLoading">
            <div class="text-center mb-small">
                <div class="point small-text">
                    現在
                    <strong class="large-text">16</strong> ポイント
                </div>
            </div>
            <div class="mb-middle">
                <swiper [config]="config" class="mb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <div class="stamp active">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="stamp">
                                        <div class="stamp-text small-x-text">cinema sunshine</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </swiper>
                <div class="pagination-wrapper">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="mb-small">
                <button class="button button-primary button-block center">ポイント使用方法</button>
            </div>
            <div class="text-center">
                <p class="mb-x-small">
                    <a routerLink="/member/point/history">ポイント使用履歴</a>
                </p>
                <p>
                    <a routerLink="/member/benefits">ポイント特典一覧</a>
                </p>
            </div>
        </div>

    </div>
</div>
<app-loading [show]="isLoading"></app-loading>