.performance {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #B2B2B2;
}

.vacancy-large {
    background-color: #0563C1;
}

.vacancy-little {
    background-color: #F2C300;
}

.date {
    width: 80px;
}

.status-cover {
    width: 25px;
}

.info {
    width: calc(100% - 105px);
    .screen {
        padding: 4px;
        border: 1px solid #FFF;
        display: inline-block;
        margin-right: 5px;
    }
    .duration {
        display: inline-block;
    }
    p {
        word-break: break-all;
    }
}

.service {
    position: absolute;
    top: 5px;
    left: 5px;
}