<ul>
    <li>
        <span routerLink="/" routerLinkActive="active" (click)="close.emit()">
            <app-icon iconName="home-white" width="15" height="15"></app-icon>HOME画面
        </span>
    </li>

    <li>
        <span routerLink="/about" routerLinkActive="active" (click)="close.emit()">
            <app-icon iconName="about-white" width="15" height="15"></app-icon>このアプリについて
        </span>
    </li>
    <li>
        <span routerLink="/policy" routerLinkActive="active" (click)="close.emit()">
            <app-icon iconName="text-white" width="15" height="15"></app-icon>利用規約
        </span>
    </li>
    <li>
        <span routerLink="/law" routerLinkActive="active" (click)="close.emit()">
            <app-icon iconName="text-white" width="15" height="15"></app-icon>特定商取引法に基づく表記
        </span>
    </li>
    <li>
        <span routerLink="/privacy" routerLinkActive="active" (click)="close.emit()">
            <app-icon iconName="text-white" width="15" height="15"></app-icon>プライバシーポリシー
        </span>
    </li>
    <li>
        <span (click)="openWebBrowse.emit(environment.PORTAL_SITE)">
            <app-icon iconName="external-link-white" width="15" height="15"></app-icon>シネマサンシャインポータルサイト
        </span>
    </li>
    <li>
        <span routerLink="/benefits" (click)="close.emit()">
            <app-icon iconName="text-white" width="15" height="15"></app-icon>会員特典 / 会員登録
        </span>
    </li>
    <li>
        <span routerLink="/auth/select" (click)="close.emit()">
            <app-icon iconName="text-white" width="15" height="15"></app-icon>ログイン
        </span>
    </li>
</ul>