<div class="contents">
    <div class="mb-small">スケジュール選択</div>
    <p class="read mb-small">鑑賞劇場、鑑賞作品、鑑賞日時を選択してください。</p>
    <ul class="conditions">
        <li>
            <div class="form-group">
                <label class="control-label">鑑賞劇場</label>
                <select class="form-control" name="theater" [(ngModel)]="theater" (change)="changeConditions($event)">
                    <option value="">選択して下さい</option>
                    <option *ngFor="let theater of theaters" value="{{ theater.branchCode }}">{{ theater.name.ja }}</option>
                </select>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label class="control-label">鑑賞日時</label>
                <select class="form-control" name="date" [(ngModel)]="date" (change)="changeConditions($event)">
                    <option value="">選択して下さい</option>
                    <option *ngFor="let date of dateList" value="{{ date.value }}">{{ date.text }}</option>
                </select>
            </div>
        </li>
    </ul>

    <div *ngIf="isLoading; else elseBlock" class="loading">loading...</div>
    <ng-template #elseBlock>
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div *ngFor="let film of filmList" class="swiper-slide">
                    <app-film-order-of-performance [data]="film" (performanceSelect)="purchaseView($event)"></app-film-order-of-performance>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </swiper>
    </ng-template>
</div>