.inner {
    display: block;
    background-color: #FFF;
}
.info {
    padding: 15px 10px;
    color: #333;
    background-color: #EEE;
    border-bottom: 1px solid #AAA;
    .title {

    }
    .date {
        opacity: 0.75;
        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px 0;
    li {
        width: calc(50% - 2.5px);
        background-color: #0074A9;
        padding: 10px;
        margin: 0 0 5px;
        position: relative;
        .screen {
            padding-right: 27px;
        }
        .status {
            position: absolute;
            bottom: 10px;
            right: 10px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}