.inner {
    display: block;
    border-radius: 5px;
    background-color: #FFF;
    overflow: hidden;
}
.info {
    padding: 10px 10px 0;
    color: #333;
    border-bottom: 1px solid #CCC;
    dl {
        border-bottom: 1px dashed #CCC;
        display: table;
        width: 100%;
        &:last-child {
            border: none;
        }
        dt {
            width: 80px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        dd {
            width: calc(100% - 80px);
            padding: 10px 0;
            display: table-cell;
            vertical-align: middle;
            line-height: 1.4;
        }
    }
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px 10px;
    li {
        width: calc(50% - 5px);
        background-color: #0074A9;
        padding: 10px;
        margin: 0 0 10px;
    }
}