<div class="inner">
    <div class="info">
        <dl class="title">
            <dt class="small-x-text">作品名</dt>
            <dd>{{ filmInfo.workPerformed.name }}</dd>
        </dl>
        <dl class="date">
            <dt class="small-x-text">上映時間</dt>
            <dd>{{ filmInfo.workPerformed.duration | duration:'minutes' }}分</dd>
        </dl>
    </div>
    <ul>
        <li *ngFor="let film of data.films" (click)="performanceSelect(film)">
            <div class="mb-x-small large-text"><strong>{{ film.startDate | timeFormat: film.coaInfo.dateJouei }}</strong></div>
            <div class="mb-x-small">～ {{ film.endDate | timeFormat: film.coaInfo.dateJouei }}</div>
            <div>{{ film.location.name.ja }} {{ (film.offer.availability | availability).string }}</div>
        </li>
    </ul>
</div>