<div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper walk-through">
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-01">
                <div class="w-100">
                    <p class="text-white text-center text-large mb-3">シネマサンシャイン<br>公式アプリがパワーアップ!</p>
                    <div class="text-center">
                        <img src="/assets/images/tutorial/welcome.svg" width="230" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-02">
                <div class="w-100">
                    <p class="text-white text-center text-large mb-3">チケットを<br>スマートに購入！</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/purchase.svg" width="230" height="150">
                    </div>
                    <p class="text-white text-center">一度このアプリ内で<br>チケットをご購入いただきますと<br>お客様情報が記録され、<br>次回以降は入力が不要になります。
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-03">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典1</p>
                    <p class="text-white text-center text-large mb-3">年会費500円（税込み）<br>☆ご入会時に1ポイントプレゼント</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_01.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-04">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典2</p>
                    <p class="text-white text-center text-large mb-3">アプリでのチケット購入1回ごとに<br>1ポイント進呈</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_02.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-05">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典3</p>
                    <p class="text-white text-center text-large mb-3">2ポイント交換で1,100円鑑賞</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_03.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-06">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典4</p>
                    <p class="text-white text-center text-large mb-3">6ポイント交換で無料鑑賞</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_04.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-07">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典5</p>
                    <p class="text-white text-center text-large mb-3">毎週木曜日は会員サービスデイ<br>会員ご本人様1,100円</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_05.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-08">
                <div class="w-100">
                    <p class="text-white text-center mb-2">会員特典6</p>
                    <p class="text-white text-center text-large mb-3">会員情報登録でチケット購入が<br>さらにラクラク</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/member_06.svg" width="211" height="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-09">
                <div class="w-100">
                    <p class="text-white text-center text-large mb-3">スマホがそのまま入場券に！</p>
                    <div class="text-center mb-3">
                        <img src="/assets/images/tutorial/ticket.svg" width="211" height="150">
                    </div>
                    <p class="text-white text-center">チケット発券の手間いらず。<br>アプリの画面を見せるだけで入場できます。</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="full d-flex align-items-center step-10">
                <div class="w-100">
                    <p class="text-white text-center text-large mb-4">それではアプリを<br>お楽しみください！</p>
                    <div class="text-center mb-5">
                        <img src="/assets/images/common/logo_text.svg" width="150" height="17">
                    </div>
                    <div class="buttons mx-auto px-3">
                        <button type="button" class="btn btn-primary btn-block py-3" (click)="start()">アプリを始める</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>