app-page {
    transition: all 1s;
}
.step-0 {
    background-color: #008ecc;
}
.step-1 {
    background-color: #0081bb;
}
.step-2 {
    background-color: #0075aa;
}
.step-3 {
    background-color: #006899;
}
.step-4 {
    background-color: #005b88;
}
.step-5 {
    background-color: #004f77;
}
.step-6 {
    background-color: #004266;
}
.step-7 {
    background-color: #003555;
}
.step-8 {
    background-color: #002944;
}
.step-9 {
    background-color: #001c33;
}

.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
    .position-center {
        height: 300px;
    }
    .button-primary {
        bottom: 30px;
    }
}
.under-line {
    border-bottom: 4px solid #F4D600;
}

.button-primary {
    max-width: none;
}

.walk-through .button-bottom {
    bottom: 34px;
}
