:host {
    display: block;
}
.step-01 {
    background-color: #008ecc;
}
.step-02 {
    background-color: #0081bb;
}
.step-03 {
    background-color: #0075aa;
}
.step-04 {
    background-color: #006899;
}
.step-05 {
    background-color: #005b88;
}
.step-06{
    background-color: #004f77;
}
.step-07 {
    background-color: #004266;
}
.step-08 {
    background-color: #003555;
}
.step-09 {
    background-color: #002944;
}
.step-10 {
    background-color: #001c33;
}

.full {
    width: 100%;
    height: 100vh;
}

