<div class="contents">
    <div class="inner">
        <p class="mb-small text-center">購入した鑑賞作品の下記チケットのQRコードを<br>入場口スタッフに提示してください。</p>
        <div *ngIf="!isLoading">
            <ng-template *ngIf="reservations?.length > 0; then ticketBlock else noTicketBlock"></ng-template>
        </div>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>

<ng-template #ticketBlock>
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div *ngFor="let reservation of reservations" class="swiper-slide">
                <app-ticket [reservation]="reservation"></app-ticket>
            </div>
        </div>
    </swiper>
    <div class="pagination-wrapper">
        <div class="swiper-pagination"></div>
    </div>
</ng-template>

<ng-template #noTicketBlock>
    <app-no-ticket></app-no-ticket>
</ng-template>
