<div class="contents">
    <div class="mb-small"><img src="/assets/images/demo_01.png"></div>
    <div *ngIf="isLoading; else thenBlock" class="loading">loading...</div>
    <ng-template #thenBlock>
        <ng-template *ngIf="reservations.length > 0; then ticketBlock else noTicketBlock"></ng-template>
        <ng-template #ticketBlock>
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div *ngFor="let reservation of reservations" class="swiper-slide">
                        <app-ticket [reservation]="reservation"></app-ticket>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </swiper>
        </ng-template>
        <ng-template #noTicketBlock>
            <app-no-ticket></app-no-ticket>
        </ng-template>
    </ng-template>
</div>