<div *ngIf="!isLoading && !maintenanceInfo.isMaintenance" [class]="theatreName">
    <div class="p-3 input-group align-items-center">
        <select class="form-control" name="theater" [(ngModel)]="conditions.theater" (change)="changeTheater()">
            <option value="">選択してください</option>
            <option *ngFor="let theater of theaters" value="{{ theater.location.branchCode }}">
                {{ theater.name.ja }}</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-block p-2 ml-3 border border-gray" (click)="update()">
                <img class="" src="/assets/images/icon/reload_gray.svg" width="24" height="24">
            </button>
        </div>
    </div>
    <div *ngIf="dateList.length > 0">
        <div class="mb-3">
            <div *ngIf="isPreSale" class="text-right">
                <div class="d-inline-block text-small bg-danger text-white p-2">先行販売あり<img class="ml-1 align-middle" src="/assets/images/icon/pre_arrows_white.svg" height="10"></div>
            </div>
            <ul class="schedule bg-dark-gray">
                <li *ngFor="let date of dateList" class="text-center"
                    [class.bg-success]="conditions.date === date.value" (click)="selectDate(date)">
                    <div class="date p-2 text-white">
                        <p><span class="text-large">{{ date.display.month }}/{{ date.display.day }}</span><span
                                class="text-x-small">({{ date.display.week }})</span></p>
                        <p class="text-small">{{ date.serviceDay }}</p>
                        <p *ngIf="date.preSale" class="text-small">先行販売</p>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="date" [(ngModel)]="conditions.date">
        </div>
        <div class="px-3">
            <ul *ngIf="conditions.theater !==''" class="sort bg-dark-gray text-white d-flex align-items-center mb-3">
                <li [class.bg-success]="conditions.sort === purchaseSort.Film" class="py-3 text-center"
                    (click)="changeSort(purchaseSort.Film)">作品順</li>
                <li [class.bg-success]="conditions.sort === purchaseSort.Time" class="py-3 text-center"
                    (click)="changeSort(purchaseSort.Time)">上映時間順</li>
            </ul>
            <div *ngIf="!isLoading && schedule">
                <app-purchase-performance-film *ngIf="conditions.sort === purchaseSort.Film" [schedule]="schedule"
                    [member]="userService.isMember()" (select)="performanceSelect($event)">
                </app-purchase-performance-film>
                <app-purchase-performance-time *ngIf="conditions.sort === purchaseSort.Time" [schedule]="schedule"
                    [member]="userService.isMember()" (select)="performanceSelect($event)">
                </app-purchase-performance-time>
            </div>
        </div>
    </div>
    <div class="p-3" *ngIf="!isLoading && !schedule">
        <div class="mb-2" *ngIf="conditions.theater === ''">鑑賞劇場が選択されていません。</div>
        <div class="mb-2" *ngIf="conditions.date === '' && conditions.theater !== '' && dateList.length === 0">
            上映作品がありません。</div>
        <div class="mb-2" *ngIf="conditions.date === '' && conditions.theater !== '' && dateList.length > 0">
            鑑賞日時が選択されていません。</div>
        <div class="mb-2" *ngIf="conditions.theater !== '' && conditions.date !== ''">上映作品がありません。</div>
    </div>
</div>
<div *ngIf="!isLoading && maintenanceInfo.isMaintenance" class="py-4 px-3">
    <app-maintenance [maintenanceInfo]="maintenanceInfo"></app-maintenance>
</div>

<app-loading [show]="isLoading"></app-loading>