<app-campaign class="d-block" url="purchase"></app-campaign>
<div *ngIf="!isLoading && !isMaintenance('confirm')" [class]="theatreName">
    <div class="p-3">
        <p class="text-small bg-danger text-white p-2 mb-3">
            ※現在、新型コロナウイルス感染症の発生状況を踏まえ、座席指定チケットは、原則1席ずつ間隔を空けて、上映日前日の21時00分から販売させていただいております。<br>
            ※新型コロナウイルス感染症予防のため、全てのご来場のお客様にマスクの着用をお願いしております。<br>
            マスク未着用のお客様は入場をお断りさせていただきます。
        </p>
        <p class="text-small text-white p-2 mb-3" style="background-color: #a38535;">
            新型コロナウイルス感染症緊急事態宣言に伴う臨時休館への対応といたしまして、公式アプリ（シネマサンシャインリワード）に5月31日時点でご登録済の会員様全員を対象として、6月半ばまでに順次一律2ポイントを付与させていただきます。
        </p>
        <div class="input-group align-items-center">
            <select class="form-control rounded" name="theater" [(ngModel)]="conditions.theater"
                (change)="changeTheater()">
                <option value="">選択してください</option>
                <option *ngFor="let theater of theaters" value="{{ theater.location.branchCode }}">
                    {{ theater.name.ja }}</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-block p-2 ml-3 bg-white border border-gray" (click)="update()">
                    <img class="" src="/assets/images/icon/reload_gray.svg" width="24" height="24">
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && isMaintenance('schedule')" class="px-3">
        <div class="bg-white p-3">
            <h3 class="text-large mb-2">メンテナンスのお知らせ</h3>
            <p style="white-space:pre-wrap;" [innerHtml]="maintenance.schedule.message"></p>
        </div>
    </div>
    <div *ngIf="dateList.length > 0 && !isMaintenance('schedule')">
        <div class="mb-3">
            <div *ngIf="isPreSale" class="text-right">
                <div class="d-inline-block text-small bg-danger text-white p-2">先行販売あり<img class="ml-1 align-middle"
                        src="/assets/images/icon/pre_arrows_white.svg" height="10"></div>
            </div>
            <ul class="schedule bg-white text-dark-gray">
                <li *ngFor="let date of dateList" class="text-center"
                    [ngClass]="{ 'bg-success text-white': conditions.date === date.value }" (click)="selectDate(date)">
                    <div class="date p-2">
                        <p><span class="text-large">{{ date.display.month }}/{{ date.display.day }}</span><span
                                class="text-x-small">({{ date.display.week }})</span></p>
                        <p class="text-small">{{ date.serviceDay }}</p>
                        <p *ngIf="date.preSale" class="text-small">先行販売</p>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="date" [(ngModel)]="conditions.date">
        </div>
        <div class="px-3">
            <ul *ngIf="conditions.theater !==''" class="sort bg-white text-dark-gray d-flex align-items-center mb-3">
                <li [ngClass]="{ 'bg-success text-white': conditions.sort === purchaseSort.Film }"
                    class="py-3 text-center" (click)="changeSort(purchaseSort.Film)">作品順</li>
                <li [ngClass]="{ 'bg-success text-white': conditions.sort === purchaseSort.Time }"
                    class="py-3 text-center" (click)="changeSort(purchaseSort.Time)">上映時間順</li>
            </ul>
            <div *ngIf="!isLoading && schedule">
                <app-purchase-performance-film *ngIf="conditions.sort === purchaseSort.Film" [schedule]="schedule"
                    [member]="userService.isMember()" (select)="performanceSelect($event)">
                </app-purchase-performance-film>
                <app-purchase-performance-time *ngIf="conditions.sort === purchaseSort.Time" [schedule]="schedule"
                    [member]="userService.isMember()" (select)="performanceSelect($event)">
                </app-purchase-performance-time>
            </div>
        </div>
    </div>
    <div class="p-3" *ngIf="!isLoading && !schedule && !isMaintenance('schedule')">
        <div class="mb-2" *ngIf="conditions.theater === ''">鑑賞劇場が選択されていません。</div>
        <div class="mb-2" *ngIf="conditions.date === '' && conditions.theater !== '' && dateList.length === 0">
            上映作品がありません。</div>
        <div class="mb-2" *ngIf="conditions.date === '' && conditions.theater !== '' && dateList.length > 0">
            鑑賞日時が選択されていません。</div>
        <div class="mb-2" *ngIf="conditions.theater !== '' && conditions.date !== ''">上映作品がありません。</div>
    </div>
</div>
<div *ngIf="!isLoading && isMaintenance('confirm')" class="py-4 px-3">
    <app-maintenance [maintenanceInfo]="maintenanceInfo"></app-maintenance>
</div>

<app-loading [show]="isLoading"></app-loading>