<h2 class="text-center mb-small large-text">会員になると
    <br>オトクな特典がいっぱい</h2>
<ol class="text-center large-text">
    <li class="mb-middle">
        <div class="under-line mb-x-small">特典 1</div>
        <p class="mb-small">見れば見るほどポイントがお得に貯まる</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_01.svg" width="230" height="150">
        </div>
    </li>
    <li class="mb-middle">
        <div class="under-line mb-x-small">特典 2</div>
        <p class="mb-small">ポイントを使用して無料鑑賞</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_02.svg" width="230" height="150">
        </div>
    </li>
    <li>
        <div class="under-line mb-x-small">特典 3</div>
        <p class="mb-small">会員登録でスムーズに購入</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_03.svg" width="230" height="150">
        </div>
    </li>
</ol>