<h2 class="text-center mb-small large-text">会員になると
    <br>オトクな特典がいっぱい</h2>
<ol class="text-center large-text">
    <li class="mb-middle">
        <div class="under-line mb-x-small">特典 1</div>
        <p class="mb-small">アプリ決済で、鑑賞1回ごとに<br>1ポイント貯まる</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_01.svg" width="230" height="150">
        </div>
    </li>
    <li class="mb-middle">
        <div class="under-line mb-x-small">特典 2</div>
        <p class="mb-small">貯めた6ポイントで無料鑑賞<br><span class="small-text">（2ポイントで1,100円鑑賞）</span></p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_02.svg" width="230" height="150">
        </div>
    </li>
    <!-- <li class="mb-middle">
        <div class="under-line mb-x-small">特典 3</div>
        <p class="mb-small">毎週木曜日は会員サービスデイ<br>1,100円</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_03.svg" width="230" height="150">
        </div>
    </li> -->
    <li>
        <div class="under-line mb-x-small">特典 3</div>
        <p class="mb-small">会員情報登録で入力がより<br>スムーズに</p>
        <div class="text-center">
            <img src="/assets/images/member/benefits_04.svg" width="230" height="150">
        </div>
    </li>
</ol>