<ul>
    <li routerLink="/ticket" routerLinkActive="active">
        <div class="mb-xx-small icon-ticket-holder-white"></div>
        <div>購入済み<br>チケットホルダー</div>
    </li>
    <li routerLink="/purchase" routerLinkActive="active">
        <div class="mb-xx-small icon-purchase-white"></div>
        <div>チケット購入</div>
    </li>
    <li *ngIf="user.isMember()" routerLink="/member/point" routerLinkActive="active">
        <div class="mb-xx-small icon-purchase-white"></div>
        <div>会員ポイント</div>
    </li>
</ul>