<div class="contents position-center">
  <div class="inner center">
      <form [formGroup]="forgotPasswordResetForm" (ngSubmit)="changePassword()">
          <div class="mb-small">
              <label class="control-label small-text">認証コード</label>
              <input type="text" class="form-control" name="verificationCode" [formControl]="forgotPasswordResetForm.controls.verificationCode">
              <p class="validation text-danger small-text" *ngIf="forgotPasswordResetForm.controls.verificationCode.errors?.required && forgotPasswordResetForm.controls.verificationCode.dirty">必須項目</p>
              <p class="validation text-danger small-text" *ngIf="forgotPasswordResetForm.controls.verificationCode.errors?.pattern && forgotPasswordResetForm.controls.verificationCode.dirty">数字で入力してください</p>
          </div>
          <div class="mb-small">
            <label class="control-label small-text">新しいパスワード</label>
            <input type="password" class="form-control" name="password" [formControl]="forgotPasswordResetForm.controls.password">
            <p class="validation text-danger small-text" *ngIf="forgotPasswordResetForm.controls.password.errors?.required && forgotPasswordResetForm.controls.password.dirty">必須項目</p>
            <p class="validation text-danger small-text" *ngIf="forgotPasswordResetForm.controls.password.errors?.minlength && forgotPasswordResetForm.controls.password.dirty">8文字以上で入力してください</p>
        </div>

          <button [disabled]="forgotPasswordResetForm.invalid" type="submit" class="btn btn-primary btn-block mb-small">パスワード変更</button>
      </form>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>