<app-campaign class="d-block" url="member/mypage"></app-campaign>
<div class="py-4 px-3">
    <app-item-close class="mb-4"></app-item-close>
    <div class="buttons mx-auto text-center mb-4">
        <button
            type="button"
            class="btn btn-danger btn-block center py-3"
            routerLink="/member/transfer"
        >
            会員移行
        </button>
    </div>
    <div>
        <p class="mb-2"><a href="#" routerLink="/auth/logout">ログアウト</a></p>
        <p><a href="#" routerLink="/member/withdraw">退会</a></p>
    </div>
</div>

<app-loading [show]="isLoading"></app-loading>
<app-information url="mypage"></app-information>
