<div class="performance position-relative mb-2 py-2 px-3 text-white" [ngClass]="isSalse ? availability.className : ''"
    (click)="(isSalse) ? selectPerformance.emit({performance: performance}) : null;">
    <div class="d-flex align-items-center">
        <div class="w-50">
            <div class="mb-1">
                <span class="font-weight-bold text-large">{{ startTime }}</span> ～ {{ endTime }}
            </div>
            <p class="text-small">{{ performance.screen.name }}</p>
            <div class="text-small">
                <p *ngIf="isSalse">{{ availability.text }}</p>
                <p *ngIf="!isSalse && performance.time.seat_count.cnt_reserve_free > 0 && isBeforePeriod">
                    販売期間外
                </p>
                <p *ngIf="!isSalse && performance.time.seat_count.cnt_reserve_free > 0 && isAfterPeriod">
                    販売期間外
                </p>
                <p
                    *ngIf="!isSalse && performance.time.seat_count.cnt_reserve_free > 0 && !isBeforePeriod && !isAfterPeriod && isWindow">
                    窓口
                </p>
                <p *ngIf="!isSalse && performance.time.seat_count.cnt_reserve_free === 0">
                    満席
                </p>
            </div>
        </div>
        <div class="w-50">
            <p class="font-weight-bold" [innerHtml]="performance.movie.name"></p>
            <p class="text-x-small d-flex align-items-center">
                {{ performance.movie.running_time }}分
            </p>
            <p class="text-x-small"><span *ngIf="performance.movie.comment"
                    [innerHtml]="performance.movie.comment"></span><span
                    *ngIf="performance.movie.comment && performance.movie.ename">&nbsp;/&nbsp;</span><span
                    *ngIf="performance.movie.ename" [innerHtml]="performance.movie.ename"></span></p>
        </div>
    </div>
    <div *ngIf="performance.time.late === 1" class="service first">
        <img src="/assets/images/icon/first_show_black.svg" width="10" height="10">

    </div>
    <div *ngIf="performance.time.late === 2" class="service late">
        <img src="/assets/images/icon/late_show_black.svg" width="10" height="10">
    </div>
</div>