@import '../../../../../../assets/scss//theme';

.performance {
    background-color: $gray;
}

.vacancy-large {
    background-color: #0563C1;
}

.vacancy-little {
    background-color: #F2C300;
}

.service {
    position: absolute;
    top: 5px;
    left: 5px;
}