.icon-ticket-holder-white {
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 16px;
        background-image: url(/assets/images/icon/ticket-holder-white.svg);
        background-size: 24px 16px;
        background-repeat: no-repeat;
    }
}

.icon-purchase-white {
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 16px;
        background-image: url(/assets/images/icon/purchase-white.svg);
        background-size: 24px 16px;
        background-repeat: no-repeat;
    }
}