<div class="contents-width mx-auto px-3 d-flex justify-content-center align-items-center h-100">
    <div class="w-100">
        <div class="logo text-center mb-4">
            <img src="/assets/images/common/logo_text.svg">
        </div>
        <p class="text-center text-white mb-4">
            アプリの始め方を選択してください。
        </p>
        <div class="buttons mx-auto text-center">
            <button type="button" class="btn btn-primary btn-block py-3 mb-3" (click)="signIn()">ログイン</button>
            <button type="button" class="btn btn-primary btn-block py-3 mb-3" routerLink="/auth/register">新規登録</button>
            <button type="button" class="btn btn-primary btn-block py-3" (click)="start()">会員登録せずにチケット購入する</button>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>