<div id="contents" class="scroll bg">
    <div class="min-100">
        <div
            class="px-3 py-5 d-flex justify-content-center align-items-center h-100"
        >
            <div class="w-100">
                <div class="logo text-center mb-4">
                    <img src="/assets/images/common/logo_text.svg" />
                </div>
                <div *ngIf="applicationStatus !== 'MEMBERSHIP_COUPON_CLOSE'">
                    <p class="text-center text-white mb-4">
                        アプリの始め方を選択してください。
                    </p>
                    <p class="text-left text-white mb-4">
                        会員移行を完了されたお客様はシネマサンシャインホームページから会員サービスをご利用ください。<br />
                        会員移行手続きを開始されたお客様は、アプリへのログインはできなくなります。
                    </p>
                </div>
                <div *ngIf="applicationStatus === 'MEMBERSHIP_COUPON_CLOSE'">
                    <p class="text-center text-white mb-4">
                        本アプリサービスは終了いたしました。
                    </p>
                    <p class="text-left text-white mb-4">
                        2023年9月30日をもちまして本アプリサービスは終了いたしました。<br />
                        会員サービスの継続を希望されるお客様でまだ会員移行手続きを開始されていない方は、本アプリログイン後のマイページから会員移行手続きをお願いいたします。
                    </p>
                    <p class="text-left text-white mb-4">
                        移行済みの方は、本アプリへのログインはできません。<br />
                        お使いのブラウザからシネマサンシャインHPへアクセスの上、画面右上の「ログイン」ボタンからログインしてください。
                    </p>
                    <div class="text-center mb-4">
                        <button
                            class="btn btn-link text-white"
                            (click)="openWebBrowser(portalSiteUrl)"
                        >
                            シネマサンシャインHPへ移動する
                        </button>
                    </div>
                </div>

                <div class="buttons mx-auto text-center">
                    <button
                        *ngIf="isNewMembershipTransfer"
                        type="button"
                        class="btn btn-primary btn-block py-3 mb-3"
                        (click)="newMembershipTransfer()"
                    >
                        会員移行<span *ngIf="userName" class="text-break"
                            ><br />ユーザーネーム: {{ userName }}</span
                        >
                    </button>
                    <button
                        *ngIf="
                            mypageSiteUrl &&
                            applicationStatus !== 'MEMBERSHIP_COUPON_CLOSE'
                        "
                        type="button"
                        class="btn btn-primary btn-block py-3 mb-3"
                        (click)="openWebBrowser(mypageSiteUrl)"
                    >
                        会員移行済みの方はこちら
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary btn-block py-3 mb-3"
                        (click)="signIn()"
                    >
                        ログイン<span class="text-small"
                            ><br />会員移行手続きを開始されたお客様は、<br />アプリへのログインはできなくなります。</span
                        >
                    </button>
                    <button
                        *ngIf="applicationStatus === 'NO_RELEASE'"
                        type="button"
                        class="btn btn-primary btn-block py-3 mb-3"
                        routerLink="/auth/register"
                    >
                        新規登録
                    </button>
                    <button
                        *ngIf="applicationStatus !== 'MEMBERSHIP_COUPON_CLOSE'"
                        type="button"
                        class="btn btn-primary btn-block py-3 mb-3"
                        (click)="start()"
                    >
                        会員登録せずにチケット購入する
                    </button>
                    <button
                        type="button"
                        class="btn btn-outline-light btn-block py-3"
                        (click)="openWebBrowser(portalSiteUrl + '/form/')"
                    >
                        お問い合わせ
                    </button>
                </div>
            </div>
        </div>
        <app-loading [show]="isLoading"></app-loading>
    </div>
</div>
