:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.bg {
    background-image: url(/assets/images/auth/bg.jpg);
    background-size: cover;
    display: block;
    height: 100%;
}

.logo {
    img {
        width: 220px;
    }
}