
.contents {
    height: 100vh;
    min-height: auto;
}
.inner {
    padding: 150px 0 0;
    width: 300px;
}
.logo {
    img {
        width: 220px;
    }
}
.buttons {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
}