
app-page {
    height: 100vh;
    min-height: auto;
    background-image: url(/assets/images/auth/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner {
    padding: 150px 0 0;
    width: 300px;
}
.logo {
    img {
        width: 220px;
    }
}
.buttons {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
}