<div class="contents bg-03">
    <div class="position-center">
        <div class="inner center">
            <div class="logo text-center mb-large">
                <img src="/assets/images/common/logo_text.svg">
            </div>
            <p class="read text-center mb-middle">
                アプリの始め方を選択してください。
            </p>

            <div class="mb-middle">
                <button type="button" class="button button-primary button-block center" routerLink="/auth/register">登録</button>
            </div>

            <p class="text-center mb-small">
                有料会員登録済みの方
            </p>

            <p class="mb-x-large text-center">
                <a (click)="signIn()">ログイン</a>
            </p>

            <p class="text-center">
                <a (click)="start()">一部機能を無料で使う</a>
            </p>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>