<div class="contents bg-03">
    <div class="inner center">
        <div class="logo text-center mb-x-large">
            <img src="/assets/images/common/logo_text.svg">
        </div>
        <p class="read text-center mb-large">
            アプリの始め方を選択してください。
        </p>

        <div class="mb-xx-large">
            <button type="button" class="button button-primary button-block center" routerLink="/auth/register">
                新規会員（年会費500円）
            </button>
        </div>
        <div class="buttons">
            <p class="mb-small text-center">
                <a (click)="signIn()">ログイン</a>
            </p>

            <p class="text-center">
                <a (click)="start()">一部機能を無料で使う</a>
            </p>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>