<div class="py-4 px-3">
    <h2 class="text-center mb-3 text-large font-weight-bold">退会</h2>
    <p class="mb-3">
        退会を行います。
        <br> 下記注意文言をご確認のうえ
        <br> 問題なければ退会ボタンを押してください。
    </p>

    <p class="mb-4">
        退会した場合は保有していた全てのポイントが無効となり、本アプリに登録されていた会員情報は全て消去されます
    </p>

    <div class="buttons mx-auto text-center">
        <button type="submit" [disabled]="isLoading" (click)="confirmWithdraw()"
            class="btn btn-danger btn-block py-3 mb-3">退会</button>
    </div>
</div>


<app-loading [show]="isLoading"></app-loading>