app-page {
    transition: all 1s;
}
.step-0 {
    background-color: #008ecc;
}
.step-1 {
    background-color: #0188d1;
}
.step-2 {
    background-color: #0075bd;
}
.step-3 {
    background-color: #0062ab;
}
.step-4 {
    background-color: #003c86;
}
.step-5 {
    background-color: #00226c;
}
.step-6 {
    background-color: #001a49;
}

.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
    .position-center {
        height: 300px;
    }
    .button-primary {
        bottom: 30px;
    }
}
.under-line {
    border-bottom: 4px solid #F4D600;
}

.button-primary {
    max-width: none;
}