<app-page [ngClass]="'step-' + step">
    <div class="swiper-container" [swiper]="config" (indexChange)="indexChange($event)">
        <div class="swiper-wrapper walk-through">
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center large-text mb-middle">シネマサンシャイン
                            <br>公式アプリへようこそ!</p>
                        <div class="image text-center">
                            <img src="/assets/images/tutorial/welcome.svg" width="230" height="150">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center large-text mb-middle">チケットを
                            <br>スマートに購入！</p>
                        <div class="image text-center mb-middle">
                            <img src="/assets/images/tutorial/purchase.svg" width="230" height="150">
                        </div>
                        <p class="text-center">一度このアプリ内で
                            <br>チケットをご購入いただきますと
                            <br>お客様情報が記録され、
                            <br>次回以降は入力が不要になります。</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center mb-x-samll">有料会員特典1</p>
                        <p class="text-center large-text mb-middle">映画を見れば見るほど
                            <br>ポイントが貯まる</p>
                        <div class="image text-center mb-middle">
                            <img src="/assets/images/tutorial/member_01.svg" width="211" height="150">
                        </div>
                        <p class="text-center">アプリ購入一回に対して
                            <br>1ポイントが付与されます。</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center mb-x-samll">有料会員特典2</p>
                        <p class="text-center large-text mb-middle">貯まったポイントを使用して
                            <br>お得に鑑賞</p>
                        <div class="image text-center mb-middle">
                            <img src="/assets/images/tutorial/member_02.svg" width="211" height="150">
                        </div>
                        <p class="text-center">貯まったポイントに応じて
                            <br>お得に鑑賞して頂けます。</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center mb-x-samll">有料会員特典3</p>
                        <p class="text-center large-text mb-middle">会員情報登録でスムーズに購入</p>
                        <div class="image text-center mb-middle">
                            <img src="/assets/images/tutorial/member_03.svg" width="211" height="150">
                        </div>
                        <p class="text-center">オンラインチケット購入時の
                            <br> クレジットカード情報入力が不要になります。
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center large-text mb-middle">スマホがそのまま入場券に！</p>
                        <div class="image text-center mb-middle">
                            <img src="/assets/images/tutorial/ticket.svg" width="211" height="150">
                        </div>
                        <p class="text-center">チケット発券の手間いらず。
                            <br>アプリの画面を見せるだけで入場できます。</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="position-center">
                        <p class="text-center large-text mb-xx-large">それではアプリを
                            <br>お楽しみください！</p>
                        <div class="image text-center">
                            <img src="/assets/images/common/logo_text.svg" width="150" height="17">
                        </div>
                    </div>
                    <button type="button" class="button button-primary button-block center button-bottom" (click)="start()">アプリを始める</button>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</app-page>