<div class="py-4 px-3">
    <p class="mb-3 text-small">
        このアプリはシネマサンシャイン公式のチケット購入アプリです。
        <br> このアプリを使うことで、シネマサンシャインの映画鑑賞がもっと便利になります。
    </p>
    <div class="mb-3">
        <div class="text-center mb-3">
            <img src="/assets/images/about/purchase.svg" width="230" height="150">
        </div>
        <p class="text-small">
            一度このアプリ内でチケットをご購入いただきますとお客様情報が記録され、次回以降は入力が不要になります。※1
        </p>
        <p class="text-x-small">
            ※1・スマホ紛失時などの際の安全を考慮し、クレジットカード情報は記録されません。
        </p>
    </div>
    <div class="mb-3">
        <h2 class="mb-2 text-center text-large">スマホがそのまま入場券に！</h2>
        <p class="mb-3 text-small">
            購入したチケットはこのアプリ内のチケットホルダー内に登録されます。
            <br> ご鑑賞当日は、チケットホルダー内のQRコードをスマホ画面に表示してシアター入口でスタッフにご提示いただくだけで、ご入場いただけます。発券は不要です。
        </p>
        <div class="text-center">
            <img src="/assets/images/about/ticket.svg" width="211" height="150">
        </div>
    </div>
    <div class="mb-3">
        <h2 class="mb-2 text-center text-large">アプリ会員でさらにお得！</h2>
        <p class="mb-3 text-small">
           有料アプリ会員になると鑑賞のたびにポイントが貯まったりとてもお得に映画鑑賞が楽しめます。
        </p>
        <div class="text-center">
            <img src="/assets/images/about/member.svg" width="211" height="150">
        </div>
    </div>
</div>