<div class="inner">
    <p class="mb-2 text-center text-small">
        鑑賞履歴の確認ができます。
    </p>
    <div *ngIf="!isLoading">
        <div *ngIf="reservations.length > 0;">
            <div *ngFor="let reservation of reservations" class="detail">
                <app-ticket-history-detail [reservation]="reservation"></app-ticket-history-detail>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="isLoading"></app-loading>
<app-information *ngIf="!user.isMember()" [isMember]="false"></app-information>