<div class="slider-cover center">
    <div>
        <div class="ruler"></div>
        <div class="ruler"></div>
        <div class="ruler"></div>
        <div class="ruler"></div>
        <div class="ruler"></div>
        <div class="ruler"></div>
        <div class="ruler"></div>
    </div>

    <div class="point-{{ viewPoint }}">
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider"></div>
    </div>
</div>