<div class="contents position-center">
    <div class="inner center">
        <form [formGroup]="confirmRegistrationForm" (ngSubmit)="confirmRegistration()">
            <div class="mb-small">
                <label class="control-label small-text">認証コード</label>
                <input type="text" class="form-control" name="confirmationCode" [formControl]="confirmRegistrationForm.controls.confirmationCode">
                <p class="validation text-danger small-text" 
                *ngIf="confirmRegistrationForm.controls.confirmationCode.errors?.required && confirmRegistrationForm.controls.confirmationCode.dirty">必須項目</p>
                <p class="validation text-danger small-text" 
                *ngIf="confirmRegistrationForm.controls.confirmationCode.errors?.pattern && confirmRegistrationForm.controls.confirmationCode.dirty">数字で入力してください</p>
            </div>
            <button [disabled]="confirmRegistrationForm.invalid" type="submit" class="btn btn-primary btn-block mb-small">認証</button>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>