@import '../../../../../../assets/scss//theme';

:host {
    display: block;
}



.btn {
    background-color: $gray;
}

.vacancy-large .btn {
    background-color: #0563C1;
}

.vacancy-little .btn {
    background-color: #F2C300;
}

.service {
    position: absolute;
    top: 2px;
    left: 0px;
}