<div class="movie-info">
  <dl class="film">
    <dt class="small-x-text">作品名</dt>
    <dd>{{ reservationFor.workPerformed.name }}</dd>
  </dl>
  <dl class="date">
    <dt class="small-x-text">鑑賞日時</dt>
    <dd>{{ reservationFor.coaInfo.dateJouei | amLocal | amDateFormat: 'YYYY/MM/DD' }} {{ reservationFor.startDate | timeFormat: reservationFor.coaInfo.dateJouei }}-{{ reservationFor.endDate | timeFormat: reservationFor.coaInfo.dateJouei }}</dd>
  </dl>
  <dl class="theater">
    <dt class="small-x-text">劇場/スクリーン</dt>
    <dd>{{ reservationFor.superEvent.location.name }}/{{ reservationFor.location.name }}</dd>
  </dl>
</div>
<ul>
  <li>
    <div class="ticket-info">
      <div class="large-x-text mb-x-small">A-1</div>
      <div class="mb-x-small">一般</div>
      <div class="small-x-text">ウオレットに入れる</div>
    </div>
    <div class="qr"></div>
  </li>
  <li>
    <div class="ticket-info">
      <div class="large-x-text mb-x-small">A-1</div>
      <div class="mb-x-small">一般</div>
      <div class="small-x-text">ウオレットに入れる</div>
    </div>
    <div class="qr"></div>
  </li>
</ul>
