ul {
    li {
        background-color: #FFF;
        color: #333;
        padding: 20px ;
        display: grid;
        grid-template-columns: 1fr 80px;
        align-items:center;
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom: none;
        }
    }
}