<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu w-100 bg-black text-white" [class.active]="isOpen">
    <ul *ngIf="isMember">
        <li class="p-3 border-bottom border-white" routerLink="/" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="home-white" width="15" height="15"></app-icon>HOME画面
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/about" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="about-white" width="15" height="15"></app-icon>このアプリについて
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/member/point/benefits" (click)="close.emit()">
            <app-icon class="mr-3" iconName="benefits-white" width="15" height="15"></app-icon>会員特典
        </li>
        <!-- <li class="p-3 border-bottom border-white" routerLink="/member/edit" (click)="close.emit()">
            <app-icon class="mr-3" iconName="user-white" width="15" height="15"></app-icon>会員情報変更
        </li> -->
        <li class="p-3 border-bottom border-white" routerLink="/policy" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>利用規約
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/law" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>特定商取引法に基づく表記
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/privacy" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>プライバシーポリシー
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowse(environment.PORTAL_SITE)">
            <app-icon class="mr-3" iconName="external-link-white" width="15" height="15"></app-icon>シネマサンシャインポータルサイト
        </li>
    </ul>
    <ul *ngIf="!isMember">
        <li class="p-3 border-bottom border-white" routerLink="/" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="home-white" width="15" height="15"></app-icon>HOME画面
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/about" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="about-white" width="15" height="15"></app-icon>このアプリについて
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/policy" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>利用規約
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/law" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>特定商取引法に基づく表記
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/privacy" routerLinkActive="active" (click)="close.emit()">
            <app-icon class="mr-3" iconName="text-white" width="15" height="15"></app-icon>プライバシーポリシー
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowse(environment.PORTAL_SITE)">
            <app-icon class="mr-3" iconName="external-link-white" width="15" height="15"></app-icon>シネマサンシャインポータルサイト
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/benefits" (click)="close.emit()">
            <app-icon class="mr-3" iconName="benefits-white" width="15" height="15"></app-icon>会員特典 / 会員登録
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/auth/select" (click)="close.emit()">
            <app-icon class="mr-3" iconName="login-white" width="15" height="15"></app-icon>ログイン
        </li>
    </ul>
</div>