<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu w-100 bg-black text-white" [class.active]="isOpen">
    <ul *ngIf="isMember">
        <li class="p-3 border-bottom border-white" routerLink="/about" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/about_white.svg" width="15" height="15">このアプリについて
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/member/point/benefits" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/benefits_white.svg" width="15" height="15">会員特典
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/policy" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">利用規約
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/law" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">特定商取引法に基づく表記
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/privacy" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">プライバシーポリシー
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowser(environment.PORTAL_SITE)">
            <img class="mr-3" src="/assets/images/icon/external_link_white.svg" width="15" height="15">シネマサンシャインポータルサイト
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowser(environment.PORTAL_SITE + '/form/')">
            <img class="mr-3" src="/assets/images/icon/external_link_white.svg" width="15" height="15">お問い合わせ
        </li>
    </ul>
    <ul *ngIf="!isMember">
        <li class="p-3 border-bottom border-white" routerLink="/about" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/about_white.svg" width="15" height="15">このアプリについて
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/policy" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">利用規約
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/law" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">特定商取引法に基づく表記
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/privacy" routerLinkActive="active" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/text_white.svg" width="15" height="15">プライバシーポリシー
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/benefits" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/benefits_white.svg" width="15" height="15">会員特典 / 会員登録
        </li>
        <li class="p-3 border-bottom border-white" routerLink="/auth/select" (click)="close.emit()">
            <img class="mr-3" src="/assets/images/icon/login_white.svg" width="15" height="15">ログイン
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowser(environment.PORTAL_SITE)">
            <img class="mr-3" src="/assets/images/icon/external_link_white.svg" width="15" height="15">シネマサンシャインポータルサイト
        </li>
        <li class="p-3 border-bottom border-white" (click)="openWebBrowser(environment.PORTAL_SITE + '/form/')">
            <img class="mr-3" src="/assets/images/icon/external_link_white.svg" width="15" height="15">お問い合わせ
        </li>
    </ul>
</div>