* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
    font-weight: 500;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: 'Lucida Grande','游ゴシック','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #FFF;
    position: relative;
    line-height: 1.5;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=submit],
textarea,
select,
option,
button,
label {
    font-weight: 500;
    font-family: 'Lucida Grande','游ゴシック','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,Helvetica,Arial,sans-serif;
    border-radius: 0;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

input[type=submit],
button {
    cursor: pointer;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email] {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 8px 10px;
    background-color: #FFF;
}

select::-ms-expand {
    display: none;
}

select {
    border: 1px solid #d9d9d9;
    padding: 8px 10px;
    background-color: #FFF;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.d-table {
    display: table;
    width: 100%;
}

.d-tr {
    display: table-row-group;
}

.d-td {
    display: table-cell;
    vertical-align: middle;
}

.modal-cover {
    display: none;
    background-color: #000;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 10;
}

.modal-cover.active,
.modal.active {
    display: block;
}

// header
header {
    height: 62px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 10px;
    background-color: #019fe8;
    width: 100%;
    .logo {
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -24px;
        width: 80px;
        img {
            width: 100%;
        }
    }
    .header-ttl {
        text-align: center;
        color: #FFF;
        font-size: 22px;
    }
}
// footer
.footer {
    
}

//navigation
navigation {
    display: block;
    height: 65px;
}
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    ul {
        li {
            width: 25%;
            background-color: #555;
            padding: 25px 5px;
            text-align: center;
            font-size: 10px;
            color: #FFF;
        }
        .active {
            background-color: #666;
        }
    }
}


//contents
.contents {
    border-top: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
}
.red-text {
    color: #c00017;
}
.box {
    background-color: #eeeef0;
    padding: 15px 10px;
    margin: 0 0 20px;
    &:last-child {
        margin: 0;
    }
}
ul.box {
    > li {
        border-bottom: 1px solid #d1d1d1;
        margin: 0 0 10px;
        padding: 0 0 10px;
        &:last-child {
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}
.page-ttl {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
    text-align: center;
}
.read {
    margin: 0 0 20px;
}
.button {
    line-height: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 2px #333;
    font-size: 18px;
}
.blue-button {
    background-color: #019fe8;
    color: #FFF;
}
.dark-blue-button {
    background-color: #036db7;
    color: #FFF;
}
.gray-button {
    background-color: #595758;
    color: #FFF;
}
.white-button {
    background-color: #FFF;
}
.button-area {
    width: auto;
    .button {
        margin: 0 0 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.section-ttl {
    margin: 0 0 10px;
}

.form {
    dl {
        dt {
            margin: 0 0 10px;
        }
        dd {
            margin: 0 0 30px;
            input {
                margin: 0 0 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .validation {
        color: #c00017;
        margin: 0 0 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}