@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  font-family: 'Lucida Grande','游ゴシック','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #FFF;
  position: relative;
  line-height: 1.5;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=submit],
textarea,
select,
option,
button,
label {
  font-weight: 500;
  font-family: 'Lucida Grande','游ゴシック','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,Helvetica,Arial,sans-serif;
  border-radius: 0;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  outline: none;
}

input[type=submit],
button {
  cursor: pointer;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email] {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 8px 10px;
  background-color: #FFF;
}

select::-ms-expand {
  display: none;
}

select {
  border: 1px solid #d9d9d9;
  padding: 8px 10px;
  background-color: #FFF;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.d-table {
  display: table;
  width: 100%;
}

.d-tr {
  display: table-row-group;
}

.d-td {
  display: table-cell;
  vertical-align: middle;
}

.modal-cover {
  display: none;
  background-color: #000;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  z-index: 10;
}

.modal-cover.active,
.modal.active {
  display: block;
}

header {
  height: 62px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 10px;
  background-color: #019fe8;
  width: 100%;
}

.header .logo {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -24px;
  width: 80px;
}

.header .logo img {
  width: 100%;
}

.header .header-ttl {
  text-align: center;
  color: #FFF;
  font-size: 22px;
}

navigation {
  display: block;
  height: 65px;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  width: 25%;
  background-color: #555;
  padding: 25px 5px;
  text-align: center;
  font-size: 10px;
  color: #FFF;
}

.navigation ul .active {
  background-color: #666;
}

.contents {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
}

.red-text {
  color: #c00017;
}

.box {
  background-color: #eeeef0;
  padding: 15px 10px;
  margin: 0 0 20px;
}

.box:last-child {
  margin: 0;
}

ul.box > li {
  border-bottom: 1px solid #d1d1d1;
  margin: 0 0 10px;
  padding: 0 0 10px;
}

ul.box > li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.page-ttl {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 20px;
  text-align: center;
}

.read {
  margin: 0 0 20px;
}

.button {
  line-height: 1;
  display: block;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 2px #333;
  font-size: 18px;
  margin-bottom: 20px;
}

.button:last-child {
  margin-bottom: 0;
}

.blue-button {
  background-color: #019fe8;
  color: #FFF;
}

.dark-blue-button {
  background-color: #036db7;
  color: #FFF;
}

.gray-button {
  background-color: #595758;
  color: #FFF;
}

.white-button {
  background-color: #FFF;
}

.button-area {
  width: auto;
}

.button-area .button {
  margin: 0 0 20px;
}

.button-area .button:last-child {
  margin-bottom: 0;
}

.section-ttl {
  margin: 0 0 10px;
}

.form dl dt {
  margin: 0 0 10px;
}

.form dl dd {
  margin: 0 0 30px;
}

.form dl dd input {
  margin: 0 0 10px;
}

.form dl dd input:last-child {
  margin-bottom: 0;
}

.form .validation {
  color: #c00017;
  margin: 0 0 10px;
}

.form .validation:last-child {
  margin-bottom: 0;
}

.auth.contents {
  padding: 20px;
}

.auth.contents .logo {
  text-align: center;
  margin: 0 0 20px;
}

.auth.contents .logo img {
  width: 80px;
}

.auth.contents dl dd .button {
  margin: 0 0 20px;
}

.auth.contents dl dd .button:last-child {
  margin-bottom: 0;
}
